<form class="form-horizontal row" role="form">


	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div class="portlet-title">
		<div class="caption">
			 <span
				class="caption-subject bold lowercase"
				translate>Đại diện chủ đầu tư</span>
		</div>
	</div>
	<p></p>
	<div class="clearfix">
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label">Giám sát thi công</label>
			<div class="col-md-8">
				<select class="form-control" id="monitoring" style="width: 100%"
					name="monitoring" kendo-drop-down-list
					k-data-text-field="'fullName'" k-data-value-field="'id'"
					k-data-source="vm.monitoring" ng-model="vm.monitoring.id"
					ng-change="vm.change()" required
					data-required-msg="Giám sát không được để trống"></select>
			</div>
			{{vm.itemID.amonitorId}}
		</div>

		<div class="form-group col-md-6">
			<label class="col-md-4 control-label">Phụ trách kỹ thuật nhà
				thầu xây lắp</label>
			<div class="col-md-8">
				<select class="form-control" id="technical" style="width: 100%"
					name="technical" kendo-drop-down-list
					k-data-text-field="'fullName'" k-data-value-field="'id'"
					k-data-source="vm.technical" ng-model="vm.technical.id"
					ng-change="vm.change()" required
					data-required-msg="Phụ trách kỹ thuật nhà thầu xây lắp không được để trống"></select>
				{{vm.technical.id}}
			</div>

		</div>

	</div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>

	<div class="clearfix">
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label req" translate>Ngày bắt
				đầu</label>
			<div class="col-md-8">
				<input kendo-date-picker k-options="vm.dateTimeOptions"
					name="acceptFromDate" ng-model="vm.item.acceptFromDate" required
					k-format="'dd/MM/yyyy'" k-max="maxTransDate"
					k-rebind="maxTransDate" k-on-change="dateChangedTransDateFrom()"
					id="acceptFromDate" />
			</div>
			<script>
				$(function() {

					var acceptFromDate = $("#acceptFromDate");
					acceptFromDate
							.kendoDateTimePicker({
								format : "dd/MM/yyyy HH:mm:ss",
								parseFormats : [ "yyyy-MM-dd HH:mm:ss",
										"dd/MM/yyyy HH:mm:ss",
										"yyyy/MM/dd HH:mm:ss" ],
								footer : "Currently #: kendo.toString(data,'dd-MM-yyyy HH:mm:ss')#"
							})
					/* 	transDate.closest(".k-datepicker").add(transDate)
								.removeClass("k-textbox"); */
				});
			</script>
		</div>
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label req" translate>Ngày kết
				thúc</label>
			<div class="col-md-8">
				<input kendo-date-picker k-options="vm.dateTimeOptions"
					name="dateAcct" ng-model="vm.item.acceptToDate" required
					k-format="'dd/MM/yyyy'" k-min="minTransDate"
					k-rebind="minTransDate" k-on-change="dateChangedTransDateTo()"
					id="dateAcct" />
			</div>

			<script>
				$(function() {

					var dateAcct = $("#dateAcct");
					dateAcct
							.kendoDateTimePicker({
								format : "dd/MM/yyyy HH:mm:ss",
								parseFormats : [ "yyyy-MM-dd HH:mm:ss",
										"dd/MM/yyyy HH:mm:ss",
										"yyyy/MM/dd HH:mm:ss" ],
								footer : "Currently #: kendo.toString(data,'dd-MM-yyyy HH:mm:ss')#"
							})
					/* 		transDate.closest(".k-datepicker").add(dateAcct)
									.removeClass("k-textbox"); */
				});
			</script>
		</div>
	</div>
	<div class="clearfix">
		<div class="form-group col-md-12">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-label req" translate>Tại</label>
				<div class="col-md-10">
					<input class="form-control" name="description" id="acceptPlace"
						ng-model="vm.item.acceptPlace" required> <span
						data-for='Không được để trống' class='k-invalid-msg'></span>
				</div>
			</div>
		</div>
	</div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div class="portlet-title">
		<div class="caption">
			 <span
				class="caption-subject bold lowercase"
				translate>Đánh giá hạng mục công
				trình xây dựng</span>
		</div>
	</div>
	<p></p>
	<div class="clearfix">
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label req" translate>Quy
				chuẩn, tiêu chuẩn được áp dụng</label>
			<div class="col-md-8">
				<div class="input-icon right">
					<input class="form-control" name="applyBenchmark"
						id="applyBenchmark" ng-model="vm.item.applyBenchmark" required
						data-required-msg="Không được để trống">
				</div>
				<span data-for='adOrgName' class='k-invalid-msg'></span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label req" translate>Các văn
				bản, tài liệu khác nếu có</label>
			<div class="col-md-8">
				<input class="form-control" name="otherDocuments"
					id="otherDocuments" ng-model="vm.item.otherDocuments">
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label req" translate>Chất
				lượng công việc xây dựng</label>
			<div class="col-md-8">
				<input class="form-control" name="constructionQuality"
					id="constructionQuality" ng-model="vm.item.constructionQuality"
					required data-required-msg="Không được để trống">

			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label" translate>Các ý kiến
				khác</label>
			<div class="col-md-8">
				<input class="form-control" name="otherComments" id="otherComments"
					ng-model="vm.item.otherComments">
			</div>
		</div>
	</div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div class="portlet-title">
		<div class="caption">
			 <span
				class="caption-subject bold lowercase"
				translate>Kết luận</span>
		</div>
	</div>
	<p></p>
	<div class="clearfix">
		<div class="form-group col-md-6">
			<label class="col-md-4 control-label req">Kết luận</label>
			<div class="col-md-8">

				<select kendo-drop-down-list class="form-control" id="status"
					style="width: 100%" name="status" ng-model="vm.item.conclusion">
					<option value="0">Chấp nhận nghiệm thu và đồng ý cho triển
						khai các công việc tiếp theo</option>
					<option value="1">Không chấp nhận nghiệm thu</option>
				</select>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="form-group col-md-12">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-label" translate>Yêu cầu sửa
					chữa , hoàn thiện</label>
				<div class="col-md-10">
					<input class="form-control" name="completeRequest"
						id="completeRequest" ng-model="vm.item.completeRequest">
				</div>
			</div>
		</div>
	</div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div class="clearfix">
		<div class="form-group col-md-12">
			<div data-ng-include="'qlhc/inspection/tabletab.html'"></div>
		</div>
	</div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<div
		style="width: 100%; height: 5px; clear: left; background-color: #eaeaea"></div>
	<p></p>
	<!--  <div class="row">
		<div class="col-md-6 col-md-offset-5">
			<button type="button" class="btn default" translate=""
				ng-click="vm.goToDsNtht()">
				<span class="ng-scope">Ghi lại</span>
			</button>
			<button type="button" class="btn default" translate="" ng-click="">
				<span class="ng-scope">Export</span>
			</button>
		</div>
	</div> -->
</form>