
<div data-ng-controller="reasonController as vm" id="reasonIdSearch" >
	<div ng-show="vm.showSearch">
		<p class="text-brecum">{{vm.String}}</p>
		<form class="form-horizontal row" role="form">
			<div class="form-body">
				<div class="portlet light bordered ">
					<div class="portlet-title background-title ">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Thông tin tìm kiếm </span>
						</div>
						<div class="text-right margin-row-title">
							<i data-toggle="collapse" data-target="#demoreson" class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						</div>
					</div>
					
					<div id="demoreson" class="collapse in from-search">
						<div class="clearfix position-relative">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Mã/tên
									lý do</label>
								<div class="col-md-8">
									<input class=" form-control width100" type="text" id="reasonIds"
										ng-model="vm.reasonSearch.keySearch" placeholder="Nhập mã hoặc tên lý do"/>
								</div>
								
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Trạng
									thái</label>
								<div class="col-md-8 margin_top">
									<input style="float: left;" id="status1" type="radio"
										id="status" name="status" ng-model="vm.reasonSearch.status"
										ng-checked="vm.reasonSearch.status == 2" value="2"> <span
										class="padding_radio">Tất cả</span> <input
										style="float: left;" type="radio" id="status" name="status"
										ng-model="vm.reasonSearch.status"
										ng-checked="vm.reasonSearch.status == 1" value="1"> <span
										class="padding_radio">Hiệu lực</span> <input
										style="float: left;" type="radio" id="status" name="status"
										ng-model="vm.reasonSearch.status"
										ng-checked="vm.reasonSearch.status == 0" value="0"> <span
										class="padding_radio">Hết hiệu lực</span>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label " translate>Tình
									huống sử dụng</label>
								<div class="col-md-8 position-relative" id="lstreasonId">
									  <select kendo-multi-select id="listApply"
										style="width: 100%" k-data-source="vm.dataAppParamType "
										k-data-value-field="'code'" k-data-text-field="'name'"
										name="listApply" ng-model="vm.reasonSearch.listApply">
									</select>  
									<!--  <select kendo-multi-select class="form-control" id="listApply"
										style="width: 100%" name="listApply"
										ng-model="vm.reasonSearch.listApply">
										<option value="0" >--Tất cả--</option>										
										<option value="1" >1. Nhập kho</option>
										<option value="2">2. Xuất kho</option>
										<option value="3">3. Kiểm kê kho</option>
										<option value="4">4. Hủy yêu cầu nhập kho</option>
										<option value="5">5. Hủy yêu cầu xuất kho</option>
										<option value="6">6. Từ chối yêu cầu nhập kho</option>
										<option value="7">7. Từ chối yêu cầu xuất kho</option>
										<option value="8">8. Hủy phiếu xuất</option>
										<option value="9">9. Hủy phiếu nhập</option>
									</select>  -->
								</div>
								<div class="One_icon">
									<i class="fa fa-times" aria-hidden="true"
										ng-click="vm.cancelapply()"></i>
								</div>
							</div>
						</div>
						<div class="clearfix form-actions margin-top">
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" id="findReason" ng-click="vm.doSearch()" class="btn btn-qlk padding-search-right searchQLK" translate>Tìm kiếm</button>
									<!-- <button type="button" class="btn green btn-outline padding-search-right" ng-click="vm.exportExcel()" translate>Export Excel</button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
<span class="caption-subject bold lowercase" translate>Kết
					quả tìm kiếm:  </span>&nbsp;<label class="control-label bold lowercase" id="reasonCount">{{vm.count}}</label><label class="control-label bold lowercase">&nbsp;bản ghi</label>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#demoreasonGrid"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</div>
		</div>
		<div id="demoreasonGrid" class="collapse in ">
			<div id="reasonGrid" kendo-grid="vm.reasonGrid" k-editable="false"
				k-options="vm.gridOptions" 
				k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
				
                 $('#reasonIdSearch').keypress(function(event){
					 $("input").change(function(){
				   $(this).val($.trim($(this).val()));
				  });
				 
					 document.onkeydown= keyDown;
                     function keyDown(e){
                		switch(e.keyCode) {
                			case 27:
                				$("#cancel").click();
                				break;
                			case 13:
							if($('.k-widget.k-window.fix-footer').css('display')!=='block'){
                				$("#findReason").click();
								
                				break;
								}
                		}
                	} 
					});
					$( "#lstreasonId" ).keypress(function(event) {
					var keycode = (event.keyCode ? event.keyCode : event.which);
					  if (keycode !==9&keycode !==16&&keycode !==13) {

							event.preventDefault(); 
							}
					  })
	</script> 