

<hr class="line-Hr">
<form class="form-horizontal row" role="form">
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label " translate>Mã công
					trình</label>
				<div class="col-md-8">
					<input class="form-control" name="name" id="name"
						ng-model="vm.item.constrtCode" readonly="" /> <span
						data-for='name' class='k-invalid-msg'></span>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label " translate>Tên công
					trình</label>
				<div class="col-md-8">
					<input class="form-control" name="name" id="name"
						ng-model="vm.item.constrtName" readonly="" /> <span
						data-for='name' class='k-invalid-msg'></span>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<div class="form-group col-md-12">
					<label class="col-md-2 control-label" translate>Địa chỉ
						công trình</label>
					<div class="col-md-10 input-width">
						<input class="form-control" name="description" id="description"
							readonly="" ng-model="vm.item.constrtAddress">
					</div>
				</div>
			</div>
		</div>

	<!-- Thành Phần-->
	<p></p>
	<div class="portlet-title">
		<div class="caption">
			 <span
				class="caption-subject bold lowercase"
				 translate>Thành Phần</span>
		</div>
	</div>
		<div class="form-body">
			<div class="clearfix">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label" translate>Đại diện
						chủ đầu tư</label>
					<div class="col-md-8">
						<select class="form-control" id="monitoring" style="width: 100%"
							name="monitoring" kendo-drop-down-list
							k-data-text-field="'fullName'" k-data-value-field="'id'"
							k-data-source="vm.monitoring" ng-model="vm.organization.representInvestorId"
							required data-required-msg="Phải chọn Đại diện chủ đầu tư"></select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label" translate>Đại diện
						nhà thầu XL</label>
					<div class="col-md-8">
							<select class="form-control" id="monitoring1" style="width: 100%"
							name="monitoring1" kendo-drop-down-list
							k-data-text-field="'fullName'" k-data-value-field="'id'"
							k-data-source="vm.monitoring1" ng-model="vm.organization.representContractorId"
							required data-required-msg="Phải chọn Dại diện nhà thầu XL"></select>
					</div>
				</div>
			</div>
		</div>
		<p></p>
		<p></p>
	

	<!-- File phương án tổ chức thi công -->
	<p></p>
	<p></p>
	<div class="portlet-title">
		<div class="caption">
			 <span
				class="caption-subject bold lowercase"
				 translate>File Phương án tổ chức thi công</span>
		</div>
	</div>
	<p></p>
	<p></p>
		<div class="form-body">
			<div class="clearfix">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label " translate>File</label>
					<div class="col-md-8">
						<button type="button" class="btn default" translate
							ng-click="vm.saveContent()">Chọn tệp</button>
						<span>không có tệp nào được chọn</span>
					</div>
				</div>
				
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label " translate></label>
					<div class="col-md-8">
						<button type="button" class="btn default" translate
							ng-click="vm.saveContent()">Chọn file</button>
					</div>
				</div>
			</div>
			<p></p>
			<div class="clearfix">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label " translate></label>
					<div class="col-md-8">
						<button type="button" class="btn default" translate
							ng-click="vm.saveContent()">Add File</button>
					</div>
				</div>
			</div>
			<p></p>

	</div>

	<!-- Button Ghi lai voi Export -->
	<p></p>
	<div class="col-md-12" style="text-align: center; margin-bottom: 10px">
		<button type="button" class="btn default" translate
			ng-click="vm.creatWorkOrganizationPlan()">Ghi Lại</button>
		<button type="button" class="btn default" translate
			ng-click="vm.exportContent()">Export</button>
	</div>
</form>

