<!-- <style>
.wrap {
	width: 100%;
	overflow: auto;
}
</style>

	<div class="form-body wrap">
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="col-md-3 caption">
					<span class="caption-subject bold lowercase" translate>Kết quả phân bổ giá hàng hóa</span>
				</div>
				<div class="col-md-9 caption" style="text-align: right; font-style: normal;font-size: 14px;">
				<span style="margin-right: 10px;" ng-bind="caller.totalMoney | number" ></span>
				
				</div>
			</div>
		</div>
		<div id="shipmentGoods2Grid" kendo-grid="caller.shipmentGoods2Grid"
					k-editable="false" k-options="caller.gridGoodsOptions"
					k-on-change="caller.onGridChange(kendoEvent, { selected: selected }, data)"></div>
	</div>

<div class="portlet light">
	<button type="button" class="btn btn-qlk btn-outline padding-search-right backQLK"
		ng-click="caller.prevStep()" translate>Trước</button>
	<button type="button"
		class="btn btn-qlk btn-outline padding-search-right btn pull-right saveQLK"
		ng-click="caller.saveTwoTable()" translate style="margin-left: 1%">Ghi lại</button>
	<button type="button"
		class="btn btn-qlk btn-outline padding-search-right pull-right closeQLK"
		ng-click="caller.cancel()" translate>Hủy bỏ</button>
</div>  -->