<div>
       		<div class="btn-group margin-left-button" >
				
				<button type="button" class="btn btn-default padding-button box-shadow" ng-click="vm.save()" ng-disabled="vm.disabledButtom">
					<div class="action-button save"  uib-tooltip="Lưu" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
				
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default padding-button border-radius-left margin-left-button box-shadow" ng-click="vm.multiDelete()"  ng-disabled="vm.disabledButtom">
					<div class="action-button del"  uib-tooltip="Xóa" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
				
				<button type="button" class="btn btn-default padding-button box-shadow" ng-click="vm.exportFile()">
					<div class="action-button export"  uib-tooltip="Export" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
			</div>
			
			<div class="btn-group">
				<button type="button" class="btn btn-default padding-button box-shadow" ng-click="vm.close()" ng-disabled="vm.disabledButtom">
					<div class="action-button save"  uib-tooltip="Lưu" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
			</div>

    </div> 