<div>
	<!-- <div id="detailErrGrid"
	kendo-grid="caller.detailErrGrid" k-editable="false"
	k-options="caller.errGridOptions" ></div> -->

<div class="padding-width18">
							<div class="clearfix border-gray">
								<div class="form-group clearfix ex10">
									<div class="form-group col-md-8">
										<file-input list-file-type="xls,xlsx" model="caller.dataList"
											size="104857600" caller="caller" input-id="file"
											model-label="File import"
											msg="Không được để trống file"></file-input>
										<input class="col-md-2" ng-click="caller.submit()"
											type="submit" id="upfile" value="Tải lên" style="height:20px;">
										<div class="col-md-2"   style="height: 20px;display: none;margin-left: 30px;" id="modalLoading"></div>
									</div>
									<div class="form-group col-md-4" align="right">
										<a id="templateLink" href=""
									ng-click="caller.downloadImportTemplate()">Tải file biểu mẫu</a>
									</div>
								</div>
							<div class="form-group col-md-4" align="right" style="margin-left: 0.5px;">
								<span style="color: gray;">Dung lượng &lt;= 100MB, định dạng
									xls,xlsx</span>
							</div>
							</div>
						</div>	
	<div class="portlet light text-right">
		<button type="button"
			class="btn btn-qlk padding-search-right margin_right10 excelQLK btn pull-right"
			ng-click="caller.exportExcelErr()" translate>Xuất file lỗi</button>
		<button type="button"
			class="btn btn-qlk padding-search-right margin_right10 closeQLK"
			ng-click="cancel()" translate>Đóng</button>
	</div>
</div>