<div class="btn-toolbar margin-bottom-10 margin-top">
	<div class="btn-group margin-left-button">
		<button type="button"
			class="btn btn-default padding-button border-radius-left margin-left-button box-shadow"
			ng-click="vm.addDraw()" ng-disabled="vm.disabledButtom" uib-tooltip="Thêm mới">
			<div class="action-button add"  translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button"
			class="btn btn-default padding-button box-shadow"
			ng-click="vm.editDraw()" uib-tooltip="Xem bảng/Chi tiết">
			<div class="action-button view" 
				translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button"
			class="btn btn-default padding-button border-radius-right box-shadow"
			ng-click="vm.multiDelete()" ng-disabled="vm.disabledButtom" uib-tooltip="Xóa">
			<div class="action-button del"  translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<!-- <button type="button" class="btn btn-default padding-button box-shadow" ng-click="vm.multiDelete()" ng-disabled="vm.disabledButtom">
					<div class="action-button deletes"  uib-tooltip="Xóa nhiều" translate>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button> -->
	</div>
	<div class="btn-group">
		<button type="button"
			class="btn btn-default padding-button border-radius-left margin-left-button box-shadow"
			ng-click="vm.downloadFile()" uib-tooltip="Download">
			<div class="action-button download"  translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button"
			class="btn btn-default padding-button border-radius-right box-shadow"
			ng-click="vm.signCA()" uib-tooltip="Ký CA" >
			<div class="action-button signature" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
	</div>
	<!-- 		<button class=" btn green btn-outline padding-btn" ng-click="vm.signCA()" translate id="btnSendApprpval" ng-disabled="vm.disabledCA">Ký CA</button>
 -->
</div>
<div class="portlet light bordered">

	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject bold lowercase" 
				translate>Thông tin chung</span>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal">
			<div class="clearfix">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Số hợp đồng</label>
					<div class="col-md-8">
						<div class="input-icon right">
							<div class="input-icon right">
								<input class="form-control width100 ng-pristine ng-valid ng-touched"
									name="contractCode" id="contractCode" type="text"
									ng-model="vm.item.contractCode" readonly="">
							</div>
							<span data-for="value" class="k-invalid-msg"></span>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Tên hợp đồng</label>
					<div class="col-md-8">
						<div class="input-icon right">
							<div class="input-icon right">
								<input class="form-control width100 ng-pristine ng-valid ng-touched"
									name="contractNo" id="contractNo" type="text"
									ng-model="vm.item.contractName" readonly="">
							</div>
							<span data-for="value" class="k-invalid-msg"></span>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Mã công trình</label>
					<div class="col-md-8">
						<div class="input-icon right">
							<div class="input-icon right">
								<input class="form-control width100 ng-pristine ng-valid ng-touched"
									name="contractNo" id="contractNo" type="text"
									ng-model="vm.item.constrtCode" readonly="">
							</div>
							<span data-for="value" class="k-invalid-msg"></span>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Tên công trình</label>
					<div class="col-md-8">
						<div class="input-icon right">
							<input class="form-control width100 ng-pristine ng-valid ng-touched"
								name="contractNo" id="contractNo" type="text"
								ng-model="vm.item.constrtName" readonly=""> <span
								data-for="value" class="k-invalid-msg"></span>
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Địa chỉ công trình</label>
					<div class="col-md-8">
						<div class="input-icon right">
							<div class="input-icon right">
								<input class="form-control width100 ng-pristine ng-valid ng-touched"
									name="contractNo" id="contractNo" type="text"
									ng-model="vm.item.constrtAddress" readonly="">
							</div>
							<span data-for="value" class="k-invalid-msg"></span>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
	<p>
<!-- 	<div id="loading">
  		<img id="loading-img" alt="Loading...">
	</div> -->
	<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject bold lowercase" 
				translate>Danh sách</span>
		</div>
	</div>
	<div kendo-grid="vm.drawingListGrid"
		k-options="vm.gridDrawingListOptions" id="drawingListMainGrid">
	</div>
	<script>
                $(document).ready(function() {
                    var tooltip = $("#drawingListMainGrid").kendoTooltip({
                        filter: "td",
                        position: "top",
                        content: function (e) {
                        	var target = e.target; // element for which the tooltip is shown
	          	              if ($(target).hasClass('statusColumn')) {//check column status
	          	            	var dataItem = $("#drawingListMainGrid").data("kendoGrid").dataItem(e.target.closest("tr"));
	          	              	var status = dataItem.statusCa;
	          	              	if(status===3){ // check co pjai tu choi hay ko
	          	              		var content=dataItem.comments;
	          	              	} else {
	          	              	var content=$(target).text();
	          	              	}
	          	              	return content;
	          	              } else {
	          	            	return $(target).text();
	          	              }
          	            }
                    }).data("kendoTooltip");


                    $("#drawingListMainGrid").find("td").click(false);
                });
            </script>
</div>
</div>