

<div data-ng-controller="createImpReqManaController as vm" >
	<div ng-show="vm.showStepOne" class="portlet light bordered " >
		<div class="portlet-title background-title ">
			<div class="caption">
				<span class="caption-subject bold lowercase" ng-bind="vm.order.title" translate></span>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#demoreson"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</div>
		</div>
		<div id="demoreson" class="collapse in from-search row">
			<div class="row border-popup-management">
				<div class="col-md-3">
					<form class="padding-height-20 form-horizontal row" role="form">
						<div class="form-body">
							<div class="caption">
								<span class="bold lowercase" translate>Loại yêu cầu</span>
							</div>
							<div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="1"
										id="fromProvider" ng-change="vm.checkbox()" ng-model="value" ng-checked="true">
									<span class="padding_radio" ng-bind="vm.businessTypes[0].name" ></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="2"
										id="beforeWarranty" ng-model="value" ng-change="vm.checkbox()">
									<span class="padding_radio" ng-bind="vm.businessTypes[1].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="3"
										id="afterWarranty" ng-model="value" ng-change="vm.checkbox()">
									<span class="padding_radio" ng-bind="vm.businessTypes[2].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="4"
										id="fromConstruction" ng-model="value"
										ng-change="vm.checkbox()"> <span class="padding_radio"
										ng-bind="vm.businessTypes[3].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="5"
										id="fromUnit" ng-model="value" ng-change="vm.checkbox()">
									<span class="padding_radio" ng-bind="vm.businessTypes[4].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" input type="radio" name="type"
										value="6" id="fromBorrowedGoods" ng-model="value"
										ng-change="vm.checkbox()"> <span class="padding_radio"
										ng-bind="vm.businessTypes[5].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="7"
										id="fromAlternativeStock" ng-model="value"
										ng-change="vm.checkbox()"> <span class="padding_radio"
										ng-bind="vm.businessTypes[6].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="8"
										id="fromProject" ng-model="value" ng-change="vm.checkbox()">
									<span class="padding_radio" ng-bind="vm.businessTypes[7].name"></span>
								</div>
								<div class="col-md-12 margin-top10">
									<input style="float: left;" type="radio" name="type" value="9"
										id="direct" ng-model="value" ng-change="vm.checkbox()">
									<span class="padding_radio" ng-bind="vm.businessTypes[8].name"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="form-horizontal border-left padding-height-20 col-md-9"
					role="form">
					<div class="form-body ">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Thông
								tin chung</span>
						</div>
						<div class="padding-width18">
							<div class="border-gray">
								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label req" translate>Mã
											yêu cầu</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												ng-model="vm.order.code" readonly />
										</div>
									</div>
									<auto-search model-label="Kho nhập" caller="vm"
								template-url="views/popup/gridView.html"
								header-template="vm.headerTemplate" template-auto="vm.template"
								page="1" page-size="20" popup-id="ar_deposit_browser_adOrgId"
								popup-type="gridplus"
								popup-source-link="stockRsServiceRest/getStocksForAutocomplete"
								combo-id="orderStock"
								combo-source-link="stockRsServiceRest/getStocksForAutocompleteDropDown"
								combo-name="name" combo-value="code" combo-code="code"
								combo-search="vm.commonSearch" combo-grid="vm.gridCommon"
								model-id="vm.order.stockId" model-name="vm.order.stockName"
								ng-model="vm.order.stockName"> </auto-search>
								</div>
								<div class="clearfix">
									<div class="form-group col-md-12">
										<div class="form-group col-md-12">
											<label class="col-md-2 control-label" translate>Ghi
												chú</label>
											<div class="col-md-10">
												<div class="input-icon right">
													<textarea class="form-control width100" name="name"
														id="name" type="text" ng-model="vm.order.description"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="caption margin-top10">
								<span class="caption-subject bold lowercase" translate>Thông
									tin theo từng loại yêu cầu</span>
							</div>
							<div class="padding-width18">
								<div class="border-gray row">
									<div class="form-group col-md-6" ng-show="vm.showFromProvider">
										<label class="col-md-4 control-label req" translate>Mã
											lô hàng</label>
										<div class="col-md-8">
											<input class=" form-control width100" id="fromProviderCode"
												kendo-auto-complete k-options="vm.fromProviderCodeOptions"
												ng-model="vm.order.shipmentCode" />
										</div>
									</div>
									<div class="form-group col-md-6"
										ng-show="vm.showBeforeWarranty">
										<label class="col-md-4 control-label req" translate>Mã
											yêu cầu BHSC</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="beforeWarrantyCode" kendo-auto-complete
												k-options="vm.beforeWarrantyCodeOptions"
												ng-model="vm.order.maintainOrderCode" />
										</div>
									</div>
									<div class="form-group col-md-6"
										ng-show="vm.showAfterWarranty">
										<label class="col-md-4 control-label req" translate>Mã
											BBBG BHSC</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="afterWarrantyCode" kendo-auto-complete
												k-options="vm.afterWarrantyCodeOptions"
												ng-model="vm.order.maintainReportCode" />
										</div>
									</div>
									<div class="form-group col-md-6"
										ng-show="vm.showFromConstruction">
										<label class="col-md-4 control-label req" translate>Mã
											yêu cầu thu hồi</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="fromConstructionCode" kendo-auto-complete
												k-options="vm.fromConstructionCodeOptions"
												ng-model="vm.order.consRetrieveOrderCode" />
										</div>
									</div>
									<div class="form-group col-md-6" ng-show="vm.showFromUnit">
										<label class="col-md-4 control-label req" translate>Mã
											yêu cầu thu hồi</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="fromUnitCode" kendo-auto-complete
												k-options="vm.fromUnitCodeOptions"
												ng-model="vm.order.deptRetrieveOrderCode" />
										</div>
									</div>
									<div class="form-group col-md-6"
										ng-show="vm.showFromBorrowedGoods">
										<label class="col-md-4 control-label req" translate>Mã
											yêu cầu thu hồi</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="fromBorrowedCode" kendo-auto-complete
												k-options="vm.fromBorrowedCodeOptions"
												ng-model="vm.order.loanRetrieveOrderCode" />
										</div>
									</div>
									<div class="form-group col-md-6"
										ng-show="vm.showFromAlternativeStock">
										<label class="col-md-4 control-label req" translate>Mã
											phiếu xuất</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="fromAlternativeStockCode" kendo-auto-complete
												k-options="vm.fromAlternativeStockCodeOptions"
												ng-model="vm.order.stockTransCode" />
										</div>
									</div>
									<div class="form-group col-md-6" ng-show="vm.showFromProject">
										<label class="col-md-4 control-label req" translate>Mã
											đề tài/dự án</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												id="fromProjectCode" kendo-auto-complete
												k-options="vm.fromProjectCodeOptions"
												ng-model="vm.order.projectCode" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="caption margin-top10">
							<span class="caption-subject bold lowercase" translate>Thông
								tin hóa đơn, chứng từ</span>
						</div>
						<div class="padding-width18">
							<div class="border-gray">
								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Số hóa
											đơn</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												ng-model="vm.order.purchaseOrderNo" />
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Ngày
											hóa đơn</label>
										<div class="col-md-8">
											<input name="creImpReqBillDate" id="creImpReqBillDate"
												ng-model="vm.order.purchaseOrderDate" style="width: 100%;"
												required data-required-msg="Ngày tạo từ không được để trống"
												data-date-msg="Ngày tạo từ không hợp lệ" />
										</div>
										<script>
											$("#creImpReqBillDate")
													.kendoDatePicker(
															{
																animation : {
																	close : {
																		effects : "zoom:out",
																		duration : 300
																	}
																}
															});
										</script>
										<div class="One_icon">
											<i class="fa fa-times" aria-hidden="true" ng-click="vm.clearPurchaseOrderDate()"></i>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Số
											chứng từ</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												ng-model="vm.order.cerNo" />
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Ngày
											chứng từ</label>
										<div class="col-md-8">
											<input name="creImpReqDocumentDate"
												id="creImpReqDocumentDate"
												ng-model="vm.order.cerDate" style="width: 100%;"
												required data-required-msg="Ngày tạo từ không được để trống"
												data-date-msg="Ngày tạo từ không hợp lệ" />
										</div>
										<script>
											$("#creImpReqDocumentDate")
													.kendoDatePicker(
															{
																animation : {
																	close : {
																		effects : "zoom:out",
																		duration : 300
																	}
																}
															});
										</script>
										<div class="One_icon">
											<i class="fa fa-times" aria-hidden="true" ng-click="vm.clearCerDate()"></i>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<auto-search model-label="Người giao hàng" caller="vm"
								template-url="views/popup/gridView.html"
								header-template="vm.headerTemplate" template-auto="vm.template"
								page="1" page-size="20" popup-id="ar_deposit_browser_adOrgId"
								popup-type="gridplus"
								popup-source-link="sysUserServiceRest/user/sysAllUsersQLK"
								combo-id="orderCreator"
								combo-source-link="sysUserServiceRest/user/sysAllUsersQLKDropdown"
								combo-name="fullName" combo-value="employeeCode" combo-code="employeeCode"
								combo-search="vm.commonSearch" combo-grid="vm.gridCreator"
								model-id="vm.order.shipperId" model-name="vm.order.shipperName"
								ng-model="vm.order.shipperName"> </auto-search>
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Ngày
											giao hàng</label>
										<div class="col-md-8">
											<input name="creImpReqGoodsHandoverDate"
												id="creImpReqGoodsHandoverDate" ng-model="vm.order.shipDate"
												style="width: 100%;" required
												data-required-msg="Ngày tạo từ không được để trống"
												data-date-msg="Ngày tạo từ không hợp lệ" />
										</div>
										<script>
											$("#creImpReqGoodsHandoverDate")
													.kendoDatePicker(
															{
																animation : {
																	close : {
																		effects : "zoom:out",
																		duration : 300
																	}
																}
															});
										</script>
										<div class="One_icon">
											<i class="fa fa-times" aria-hidden="true" ng-click="vm.clearShipDate()"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet light" align="right">
			<button type="button"
				class="btn red btn-outline padding-search-right"
				ng-click="vm.cancel()" translate>Hủy bỏ</button>
			<button type="button"
				class="btn blue btn-outline padding-search-right"
				ng-click="vm.nextStep()" translate>Tiếp</button>
		</div>
	</div>
	<div ng-show="!vm.showStepOne">
		<form class="form-horizontal row" role="form">
			<div class="form-body">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Import
								bằng file excel</span>
						</div>
					</div>
					<div class="clearfix">
						<div class="form-group col-md-6" >
							<label class="col-md-4 control-label" translate>File
								import</label>
							<div class="col-md-6">
								<input class=" form-control width100" type="file"
									ng-model="vm.reasonSearch.keySearch" ng-disabled = "vm.disableImport"/>
							</div>
							<div class="col-md-2">
								<button type="button" ng-click="vm.upload()" ng-disabled = "vm.disableImport" translate>Tải
									lên</button>
							</div>
						</div>
						<div class="form-group col-md-6" align="right">
							<a href="url">Tải file biểu mẫu</a>
						</div>
					</div>

				</div>
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Danh
								sách hàng hóa của yêu cầu</span>
						</div>
								<div class="col-md-4 position-relative pull-right">
									<input class=" form-control width100 " type="text"
										ng-model="vm.orderSearch.createdByName" ng-disabled = "vm.disableInput"
										placeholder="Nhập mã hàng, tên hàng bổ sung"/>
								</div>
					</div>
					<div id="creImReqMaGrid" kendo-grid="vm.creImReqMaGrid"
						k-editable="false" k-options="vm.gridOptions"></div>
				</div>
			</div>
		</form>
		<div class="portlet light">
			<button type="button"
				class="btn blue btn-outline padding-search-right"
				ng-click="vm.prevStep()" translate>Trước</button>
			<button type="button"
				class="btn green btn-outline padding-search-right btn pull-right"
				ng-click="vm.saveImportReq()" translate>Ghi lại</button>
			<button type="button"
				class="btn red btn-outline padding-search-right btn pull-right"
				ng-click="vm.cancel()" translate>Hủy bỏ</button>
		</div>
	</div>
</div>

