<div>
	<div class="btn-group margin-left-button"
		ng-controller="DsbgvtController as menu">
		<button type="button"
			class="btn btn-default padding-button border-radius-left margin-left-button box-shadow"
			ng-click="vm.add()" ng-disabled="vm.disabledButtom" uib-tooltip="Thêm mới" >
			<div class="action-button add" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button" ng-show="vm.showDetail"
			class="btn btn-default padding-button box-shadow"
			ng-click="vm.save()" ng-disabled="vm.disabledButtom" uib-tooltip="Lưu" >
			<div class="action-button save" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button"
			class="btn btn-default padding-button box-shadow"
			ng-click="vm.edit()" uib-tooltip="Xem bảng/Chi tiết">
			<div class="action-button view" 
				translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button"
			class="btn btn-default padding-button border-radius-right box-shadow"
			ng-click="vm.multiDelete()" ng-disabled="vm.disabledButtom" uib-tooltip="Xóa" >
			<div class="action-button del" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
	</div>

	<div class="btn-group">
		<button type="button"
			class="btn btn-default padding-button border-radius-left box-shadow"
			ng-click="vm.exportFile()" uib-tooltip="Export PDF" >
			<div class="action-button pdf" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
		<button type="button"
			class="btn btn-default padding-button border-radius-right box-shadow"
			ng-click="vm.exportFileDoc()" uib-tooltip="Export DOC" >
			<div class="action-button doc" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
	</div>

	<div class="btn-group">
		<button type="button"
			class="btn btn-default padding-button border-radius-right box-shadow"
			ng-click="vm.signCA()" uib-tooltip="Ký CA" >
			<div class="action-button signature" translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</button>
	</div>
</div>
