<style>
.formater {
	margin-left: 23%;
}
.hover
{
    background-color:Silver;
} 
</style>
<form class="form-horizontal row" role="form" name="reason" id="reason"
	kendo-validator="validator" k-options="validatorOptions">
	<div class="portlet light">
		<div class="margin-bottom row" >
			<div class="caption col-md-12">
				<span class="text-header-popup bold lowercase lowercase" translate>Thông
					tin lô hàng</span>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" translate>Mã lô hàng</label>
				<label class="control-label" style="font-weight: bold;">{{data.code}}</label>
			</div>
		</div>
	</div>
	<div class="portlet light ">
		<div class=" margin-bottom row">
			<div class="caption col-md-12">
				<span class="text-header-popup bold lowercase" translate>Import
					bằng file excel</span>
			</div>
		</div>
	</div>
	<div class="padding-width18">
			<div class="border-gray">
				<div class="clearfix">
					<div class="form-group col-md-8">
						<label class="col-md-2 control-label" translate>File Import</label>
						<div class="col-md-6">
							<input class=" form-control width100" type="file" id="fileS"
								ng-model="vm.reasonSearch.keySearch" />
								<span style="color:gray">Dung lượng &#60;&#61; 100MB, định dạng xls,xlsx</span>
						</div>
		
						<div class="col-md-4">
							<input class="col-md-4" style="height: 25px;" ng-click="caller.submit()" type="button" id="bntFiles"
									value="Tải lên">
						</div>
					</div>
		
					<div class="form-group col-md-4">
						<a href="javascript:void(0);" id="linkFile" style="text-decoration:underline;float:right;" ng-click="caller.getExcelTemplate()">Tải
								file biểu mẫu</a>
					</div>
				</div>	
			</div>
		</div>
	<div class="portlet light ">
		<div class="row ">
			<div class=" col-md-8">
				<span class="text-header-popup bold lowercase" translate>Danh
					sách hàng hóa của lô hàng</span>
			</div>
			<div class="col-md-4 position-relative pull-right" >
								<input ng-model="caller.goods.name" kendo-auto-complete id="orderGoods2"
								name="name"
								k-options="caller.ShipKOption" 
                                   class="form-control width100" />
								</div>
		</div>
	</div>
	<div class="padding-width18">
			<div class="border-gray">
				<div id="shipmentUpdateGrid" kendo-grid="caller.shipmentUpdateGrid"
					  k-options="caller.gridUpdateOptions"
					k-on-change="caller.onGridChange(kendoEvent, { selected: selected }, data)"></div>
				</div>
	</div>
	
	<div class="clearfix">
		<div class="portlet light" align="right">
			<button type="button" class="btn btn-qlk padding-search-right closeQLK" id="cancelMap" ng-click="caller.cancel()" translate>Hủy bỏ</button>
			<button type="button" class="btn btn-qlk margin_right10 padding-search-right saveQLK" id="saveGoods1" ng-click="caller.goodsDataforSaving()" translate>Ghi lại</button>
		</div>
	</div>
</form>