

<div data-ng-controller="stockGoodsTotalController as vm">
	<div ng-show="vm.showSearch">
		<form class="form-horizontal row" role="form">
			<div class="form-body">
				<div class="portlet light bordered">
					<div class="portlet-title background-title">
						<div class="caption ">
							<span class="caption-subject bold lowercase" translate>Thông tin tìm kiếm</span>
						</div>
						<div class="text-right margin-row-title">
							<i data-toggle="collapse" data-target="#demo22"
								class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						</div>
					</div>
					<div id="demo22" class="collapse in from-search">
						<div class="clearfix position-relative">
							<auto-search model-label="Kho" caller="vm"
								template-url="views/popup/gridView.html"
								header-template="vm.headerTemplate" template-auto="vm.template"
								page="1" page-size="20" popup-id="stockId1"
								popup-type="gridplus"
								popup-source-link="stockRsServiceRest/doSearch"
								combo-id="stockId1"
								combo-source-link="stockRsServiceRest/getForAutoCompleteStock"
								combo-name="name" combo-value="code" combo-code="name"
								combo-search="vm.commonSearch" combo-grid="vm.gridCommon"
								model-id="vm.stockGoodsTotalSearch.stockId"
								model-name="vm.stockGoodsTotalSearch.stockName"
								ng-model="vm.stockGoodsTotalSearch.stock"> </auto-search>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Tình trạng hàng hoá</label>
								<div class="col-md-8 margin_top">
						           <input style=" float: left;" id="goodsState" name="goodsState" type="radio" ng-model="vm.stockGoodsTotalSearch.goodsState" ng-checked="vm.stockGoodsTotalSearch.goodsState == 0" value="0" class="ng-pristine ng-untouched ng-valid">
						                <span class="padding_radio"> Tất cả</span>
						                
						           <input style=" float: left;" type="radio" id="goodsState" name="goodsState" ng-model="vm.stockGoodsTotalSearch.goodsState" ng-checked="vm.stockGoodsTotalSearch.goodsState == 1" value="1" class="ng-pristine ng-untouched ng-valid">
						                <span class="padding_radio"> Bình thường</span>
						                
						           <input style=" float: left;" type="radio" id="goodsState" name="goodsState" ng-model="vm.stockGoodsTotalSearch.goodsState" ng-checked="vm.stockGoodsTotalSearch.goodsState == 2" value="2" class="ng-pristine ng-untouched ng-valid">
						                <span class="padding_radio"> Hỏng</span>
						         </div>
							</div>
						</div>

						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label " translate>Loại
									hàng hoá</label>
								<div class="col-md-8 position-relative">
									<select multiple="multiple"
										id="listGoodsType"  name="listGoodsType"
										ng-model="vm.stockGoodsTotalSearch.listGoodsType">
									</select>
								</div>
								<div class="One_icon" ng-click="vm.cancelStock('deselect-all')">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
							<div class="form-group col-md-6">
		                        <label class="col-md-4 control-label" translate>Hàng hóa</label>
		                        <div class="col-md-8">
									<input class=" form-control width100" type="text"  ng-model="vm.stockGoodsTotalSearch.goodsName"/>
								</div>
								<div class="One_icon"
									ng-click="vm.cancelStock('clearGoods')">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div class="clearfix form-actions margin-top">
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" ng-click="vm.doSearch()"
										class="btn btn-qlk padding-search-right  noteQLK" translate>Xem trước</button>
									<button type="button" ng-click="vm.exportexcel()" class="btn btn-qlk padding-search-right  excelQLK" translate>Xuất excel</button>
									<button type="button" ng-click="vm.exportpdf()" class="btn btn-qlk padding-search-right  pdfQLK"  translate>Xuất pdf</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Kết quả tìm kiếm: {{vm.stockGoodsTotalGrid.dataSource.total()}} bản ghi</span>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#demo44"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</div>
		</div>
		<div id="demo44" class="collapse in from-search">
			<div id="stockGoodsTotalGrid" kendo-grid="vm.stockGoodsTotalGrid"
				k-editable="false" k-options="vm.stockGoodsTotalGridOptions"
				k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
		</div>
	</div>
</div>