<style>
.wrap {
	width: 100%;
	overflow: auto;
}

.fleft {
	float: left;
	width: 25%;
	height: 700px;
	borderChangeGoods-top: 1px solid #D3D3D3;
	borderChangeGoods-bottom: 1px solid #D3D3D3;
	background: #FFFFFF;
}

.fright {
	float: right;
	borderChangeGoods-left: 1px solid #D3D3D3;
	borderChangeGoods-top: 1px solid #D3D3D3;
	borderChangeGoods-bottom: 1px solid #D3D3D3;
	height: 700px;
	width: 75%;
	background: #FFFFFF;
}

.fleftdetail {
	float: left;
	width: 50%;
	height: 500px;
	borderChangeGoods-top: 1px solid #D3D3D3;
	borderChangeGoods-bottom: 1px solid #D3D3D3;
	background: #FFFFFF;
}

.frightdetail {
	float: right;
	borderChangeGoods-left: 1px solid #D3D3D3;
	borderChangeGoods-top: 1px solid #D3D3D3;
	borderChangeGoods-bottom: 1px solid #D3D3D3;
	height: 500px;
	width: 50%;
	background: #FFFFFF;
}
</style>
<div class="portlet light">
	<button type="button"
		class="btn green btn-outline padding-search-right"
		ng-click="caller.gotoTabOnePopUp()" translate>Thông tin chung</button>
	<button type="button"
		class="btn green btn-outline padding-search-right"
		ng-click="caller.gotoTabTwoPopUp()" translate>Thông tin hàng
		hóa</button>
</div>
<div ng-show="caller.showTabOne">
	<div class="wrap">
		<div class="">
			<form class="form-horizontal row" role="form">
				<div class="form-body">
					<div class="portlet light borderChangeGoodsed">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold lowercase" translate>Thông
									tin chung</span>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Mã yêu
									cầu</label>
								<div class="col-md-8">
									<label class="control-label" ng-bind="caller.orderChangeGoods.code"></label>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Kho thay
									đổi</label>
								<div class="col-md-8">
									<label class="control-label" ng-bind="caller.orderChangeGoods.stockName"></label>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-12">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-label " translate>Ghi
										chú</label>
									<div class="col-md-10">
										<label class="control-label" name="parOder" id="parOder"
											maxlength="2" ng-model="data.description"></label>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="portlet light borderChangeGoodsed">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold lowercase" translate>Thông
									tin bổ sung</span>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Người
									tạo</label>
								<div class="col-md-8">
									<label class="control-label"
										ng-bind="caller.orderChangeGoods.createdByName"></label>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Ngày tạo</label>
								<div class="col-md-8">
									<label class="control-label" ng-bind="caller.orderChangeGoods.createdDate"></label>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Đơn vị
									tạo</label>
								<div class="col-md-8">
									<label class="control-label"
										ng-bind="caller.orderChangeGoods.createdDeptedName"></label>
								</div>
							</div>
						</div>
					</div>
					<div class="portlet light borderChangeGoodsed">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold lowercase" translate>Thông
									tin hủy/từ chối</span>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Người
									thực hiện</label>
								<div class="col-md-8">
									<label class="control-label"
										ng-bind="caller.orderChangeGoods.createdDeptedName"></label>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Lý do</label>
								<div class="col-md-8">
									<label class="control-label"
										ng-bind="caller.orderChangeGoods.createdDeptedName"></label>
								</div>
							</div>
						</div>
						<div class="clearfix">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Ngày
									thực hiện</label>
								<div class="col-md-8">
									<label class="control-label"
										ng-bind="caller.orderChangeGoods.createdDeptedName"></label>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label" translate>Ghi chú</label>
								<div class="col-md-8">
									<label class="control-label"
										ng-bind="caller.orderChangeGoods.createdDeptedName"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>

</div>
<div ng-show="caller.showTabTwo">
	<div class="wrap">
		<div class="">
			<div class="portlet light">
				<div id="detailGrid" kendo-grid="caller.detailGrid"
					k-editable="false" k-options="caller.detailGridOptions"></div>
			</div>

		</div>
	</div>

</div>
<div class="portlet light" align="right">
	<button type="button" class="btn red btn-outline padding-search-right"
		ng-click="cancel()" translate>Đóng</button>
</div>
