
<style>
.portlet-title {
	font-size: 120%;
	padding: 10px;
}

.k-link {
    margin-top: -3px;
}
</style>
<div data-ng-controller="createExportRequestManageController as vm"
	kendo-validator="vm.validator3" k-options="vm.validatorOptions">
	<div ng-show="vm.showStepOne" class="portlet light bordered ">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase"
					ng-bind="vm.exportOrder.title" translate></span>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#creExtReMa1"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</div>
		</div>
		
		<div id="flowBoxes" class="padding20">
			<div class="Left right  active" id="creExtReqBCone"
				ng-click="vm.prevStep()">
				<p class="declineQLK postion-icon" id="creExtReqBCIconOne"></p>
				<p class="width-80 ">1.Nhập thông tin chung</p>
			</div>
			<div class="Left right " id="creExtReqBCtwo" ng-click="vm.nextStep()">
				<p class="declineQLK postion-icon" id="creExtReqBCIconTwo"></p>
				<p class="width-80">2.Nhập thông tin hàng hóa</p>
			</div>
		</div>
		<div id="creExtReMa1" class="collapse in from-search row">
			<div class="row border-popup-management">
				<div class="col-md-12 col-lg-3 border-right ">
					<form class="padding-height-20 form-horizontal row" role="form" id="form">
						<div class="form-body">
							<div class="portlet-title light">
								<div class="caption">
									<span class="bold lowercase" translate>Loại yêu cầu</span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForDepartment" ng-change="vm.checkbox()" 
										ng-disabled="vm.disOpt"
										ng-model="vm.value"  value="1"> 
								<label for="extForDepartment" class="stt_radio">1.{{vm.businessTypes[0].name}}</label>			
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForConstruct" ng-change="vm.checkbox()"
										ng-disabled="vm.disOpt"
										ng-model="vm.value"  value="2">
										<label for="extForConstruct" class="stt_radio">2.{{vm.businessTypes[1].name}}</label>	
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForBHSC" ng-change="vm.checkbox()" 
										ng-model="vm.value"
										ng-disabled="vm.disOpt"
										value="3">
								<label for="extForBHSC" class="stt_radio">3.{{vm.businessTypes[2].name}}</label>			
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extAlternativeStock" ng-change="vm.checkbox()"
										ng-disabled="vm.disOpt"
										ng-model="vm.value" value="4">
								<label for="extAlternativeStock" class="stt_radio">4.{{vm.businessTypes[3].name}}</label>		
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForGift" ng-change="vm.checkbox()" ng-model="vm.value"
										ng-disabled="vm.disOpt"
										value="5">
								<label for="extForGift" class="stt_radio">5.{{vm.businessTypes[4].name}}</label>		
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForBorrow" ng-change="vm.checkbox()"
										ng-disabled="vm.disOpt"
										ng-model="vm.value" value="6">
								<label for="extForBorrow" class="stt_radio">6.{{vm.businessTypes[5].name}}</label>			
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForPay" ng-change="vm.checkbox()" ng-model="vm.value"
										ng-disabled="vm.disOpt"
										value="7">
								<label for="extForPay" class="stt_radio">7.{{vm.businessTypes[6].name}}</label>		
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForSale" ng-change="vm.checkbox()" ng-model="vm.value"
										ng-disabled="vm.disOpt"
										value="8">
								<label for="extForSale" class="stt_radio">8.{{vm.businessTypes[7].name}}</label>			
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForProject" ng-change="vm.checkbox()"
										ng-disabled="vm.disOpt"
										ng-model="vm.value" value="9">
								<label for="extForProject" class="stt_radio">9.{{vm.businessTypes[8].name}}</label>		
								</div>
								<div class="col-md-6 col-lg-12 col-sm-3 col-xs-6 margin-top10">
									<input style="float: left;" type="radio" name="extType"
										id="extForSell" ng-change="vm.checkbox()" ng-model="vm.value"
										ng-disabled="vm.disOpt"
										value="10">
								<label for="extForSell" class="stt_radio">10.{{vm.businessTypes[9].name}}</label>		
								</div>
								
							</div>

						</div>
					</form>
				</div>
				<div class="form-horizontal  padding-height-20  col-md-12 col-lg-9"
					role="form">
					<div class="form-body ">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold lowercase" translate>Thông
									tin chung
								</span>
							</div>
						</div>

						<div class="padding-width18">
							<div class="border-gray">
								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label req" if translate>Mã
											yêu cầu</label>
										<div class="col-md-8">
											<input readonly class=" form-control width100" type="text"
												ng-model="vm.exportOrder.code" />
										</div>
									</div>

									<auto-search model-label="Kho xuất" caller="vm" focus-e="true"
										template-url="views/popup/gridView.html"
										header-template="vm.stockHeaderTemplate" domain="true"
										template-auto="vm.stockTemplate" page="1" page-size="20"
										popup-id="ar_deposit_browser_adOrgId1234" popup-type="gridplus"
										popup-source-link="stockRsServiceRest/getStocksForAutocomplete"
										combo-id="orderStock2"
										combo-source-link="stockRsServiceRest/getForAutoCompleteStockDomain"
										combo-search="vm.commonSearch" combo-grid="vm.gridCommon"
										combo-name="name" combo-value="stockId" combo-code="code"
										model-id="vm.exportOrder.stockId" req="req"
										model-name="vm.exportOrder.stockName"
										ng-model="vm.exportOrder.stockId"> </auto-search>
										
									
								

								</div>
								<div class="clearfix">
									<auto-search model-label="Người nhận hàng" caller="vm"
										template-url="views/popup/gridViewCreateUser.html"
										header-template="vm.userHeaderTemplate"
										template-auto="vm.userTemplate" page="1" page-size="20"
										popup-id="ar_deposit_browser_adOrgId39" popup-type="gridplusUser"
										req="req"
										popup-source-link="sysUserServiceRest/user/sysAllUserswms"
										combo-id="recCU"
										combo-source-link="sysUserServiceRest/sysUserwms/getForAutoComplete"
										combo-name="fullName" combo-value="sysUserId"
										combo-code="employeeCode" combo-search="vm.commonSearch"
										combo-grid="vm.gridCreator"
										model-id="vm.exportOrder.recieverId" model-name="vm.exportOrder.recieverName"
										ng-model="vm.exportOrder.recieverName"> </auto-search>

									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Ngày
											nhận hàng dự kiến</label>
										<div class="col-md-8">
											<input kendo-date-picker date-time name="exReqManaCreatedDate"
												id="receiveDate" ng-model="vm.exportOrder.expectedRecievedDate"
												style="width: 100%" k-format="'dd/MM/yyyy'"
												 ng-change="vm.validateDate()" min-year="1000" data-minyear-msg="Ngày nhận hàng không hợp lệ"/>
												
											<span style="color:red; margin: 5px 0" ng-bind="vm.errMessage2"></span>
										</div>

										<div class="One_icon">
											<i class="fa fa-times" aria-hidden="true"
												ng-click="vm.cancelInput('date')"></i>
										</div>
									</div>
									</div>
							
								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Mã hợp
											đồng</label>
										<div class="col-md-8">
											<input kendo-auto-complete k-options="vm.contractOptions" id="exportContract"
												ng-model="vm.exportOrder.contractCode" ng-blur="vm.changeDataAuto('exportContract')"
												class="form-control width100" name="name3" />
										</div>
										<div class="One_icon">
											<i class="fa fa-times" aria-hidden="true"
												ng-click="vm.cancelInput('contract')"></i>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Mã
											phiếu nhập</label>
										<div class="col-md-8">
											<input kendo-auto-complete k-options="vm.ImportNoteOptions" id="importNote" ng-blur="vm.changeDataAuto('importNote')"
												ng-model="vm.exportOrder.stockTransCode" class="form-control width100"
												name="name2" />
										</div>
										<div class="One_icon">
											<i class="fa fa-times" aria-hidden="true"
												ng-click="vm.cancelInput('impNote')"></i>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<div class="form-group col-md-12">
										<div class="form-group col-md-12">
											<label class="col-md-2 control-label" translate>Ghi
												chú</label>
											<div class="col-md-10">
												<textarea class="form-control" name="description"
													id="description" maxlength="500"
													ng-model="vm.exportOrder.description"></textarea>
											</div>
										</div>
									</div>


								</div>
							</div>
						</div>

						<div class="">
							<div class="portlet light">
								<div class="portlet-title">
									<div class="caption">
										<span class="caption-subject bold lowercase" translate>Thông
											tin theo từng loại yêu cầu</span>
									</div>
								</div>

								<div class="padding-width18">
									<div class="border-gray row">
										<div class="form-group col-md-6"
											ng-show="vm.showExtForDepartment" disable-all="!vm.showExtForDepartment">
											<label class="col-md-4 control-label req" translate>Đơn
												vị nhận</label>
										
												<div class="col-md-8">
												<div class="input-icon right ">
													<i class="fa fa-search directive"
														ng-click="vm.openDepartmentTo('depOpenToCP')"></i>
												</div>
												<input 
													kendo-auto-complete k-options="vm.deprtOptions1" ng-blur="vm.changeDataAuto('exportCopyDept')"
													class=" form-control width100" type="text" id="exportCopyDeptExtForDepartment"
													name="extForDepartment"  ng-model="vm.exportOrder.deptReceiveName"
													required
													data-required-msg="Tên đơn vị nhận không để trống" /> <span
													data-for='extForDepartment' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelDeptReceive()"></i>
											</div>
											<script type="text/javascript">
												$("#extForDepartment")
														.change(
																function() {
																	$(
																			"#extForDepartment")
																			.val(
																					$(
																							"#extForDepartment")
																							.val()
																							.trim());
																});
											</script>

										</div>

										<div class="form-group col-md-12"
											ng-show="vm.showExtForConstruct" disable-all="!vm.showExtForConstruct">
											<div class="clearfix">
												<div class="form-group col-md-6">
													<label class="col-md-4 control-label req" translate>Công
														trình</label>
													<div class="col-md-8">
														<input class=" form-control width100" type="text"
															name="extForConstruct" kendo-auto-complete 
															id = "extForConstructCreateExtForConstruct"
															k-options="vm.extForConstructCodeOptions" ng-blur="vm.changeDataAuto('extForConstructCreate')"
															ng-model="vm.exportOrder.constrCode"
															required
															data-required-msg="Tên công trình không để trống" /> <span
															id="msg5" data-for='extForConstruct' class='k-invalid-msg'></span>
													</div>

													<div class="One_icon">
														<i class="fa fa-times" aria-hidden="true"
															ng-click="vm.cancelInput('cons')"></i>
													</div>
													<script type="text/javascript">
												$("#extForConstruct")
														.change(
																function() {
																	$(
																			"#extForConstruct")
																			.val(
																					$(
																							"#extForConstruct")
																							.val()
																							.trim());
																});
											</script>
												</div>
												<div class="form-group col-md-6">
													<label class="col-md-4 control-label req" translate>Lý
														do xuất</label>
													<div class="col-md-8">
														<select kendo-drop-down-list class="form-control width100"
															name="cancelReasonName" id = "cancelReasonName"
															k-data-source="vm.exportOrder.dataReasonDelete"
															k-data-value-field="'reasonId'"
															k-data-text-field="'name'" required
															data-required-msg="Lý do xuất không để trống"
															ng-model="vm.exportOrder.reasonId">
														</select>
												<span data-for='cancelReasonName' class='k-invalid-msg'></span>
														
													</div>
													<script type="text/javascript">
												$("#cancelReasonName")
														.change(
																function() {
																	$(
																			"#cancelReasonName")
																			.val(
																					$(
																							"#cancelReasonName")
																							.val()
																							.trim());
																});
											</script>
												</div>

											</div>
											
											<div class="clearfix">
											<div class="form-group col-md-6">
												<label class="col-md-4 control-label req" translate>Đơn
												vị nhận</label>
											<div class="col-md-8">
												<div class="input-icon right ">
													<i class="fa fa-search directive"
														ng-click="vm.openDepartmentTo('depOpenToCP')"></i>
												</div>
												<input 
													kendo-auto-complete k-options="vm.deprtOptions1" 
													class=" form-control width100" type="text"
													id = "exportCopyDeptExtForConstruct" ng-blur="vm.changeDataAuto('exportCopyDept')"
													ng-model="vm.exportOrder.deptReceiveName" name="dvn12"
													required data-required-msg="Tên đơn vị nhận không để trống" />
												<span data-for='dvn12' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelDeptReceive()"></i>
											</div>
											<!-- <script>
												function reset_msg12() {
													document
															.getElementById('msg12').innerHTML = '';
												}
											</script>  -->
											<script type="text/javascript">
												$("#dvn12")
														.change(
																function() {
																	$(
																			"#dvn12")
																			.val(
																					$(
																							"#dvn12")
																							.val()
																							.trim());
																});
											</script>
											</div>
											</div>

										</div>
										<div class="form-group col-md-6" ng-show="vm.showExtForBHSC" disable-all="!vm.showExtForBHSC">
											<label class="col-md-4 control-label req" translate>Đơn
												vị nhận</label>
											<div class="col-md-8">
												<div class="input-icon right ">
													<i class="fa fa-search directive"
														ng-click="vm.openDepartmentTo('depOpenToCP')"></i>
												</div>
												<input 
													kendo-auto-complete k-options="vm.deprtOptions1" 
													class=" form-control width100" type="text"
													id = "exportCopyDeptExtForBHSC" ng-blur="vm.changeDataAuto('exportCopyDept')"
														ng-model="vm.exportOrder.deptReceiveName"
														 name="extForBHSC"
													required data-required-msg="Tên đơn vị nhận không để trống" />
												<span data-for='extForBHSC' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelDeptReceive()"></i>
											</div>
											<script type="text/javascript">
												$("#extForBHSC")
														.change(
																function() {
																	$(
																			"#extForBHSC")
																			.val(
																					$(
																							"#extForBHSC")
																							.val()
																							.trim());
																});
											</script>
										</div>
										<div class="form-group col-md-12"
											ng-show="vm.showExtAlternativeStock" disable-all="!vm.showExtAlternativeStock">
											<auto-search model-label="Kho nhận" caller="vm"
												template-url="views/popup/gridView.html"
												header-template="vm.stockHeaderTemplate"
												template-auto="vm.stockTemplate" page="1" page-size="10"
												popup-id="ar_deposit_browser_adOrgId" popup-type="gridplus"
												popup-source-link="stockRsServiceRest/getStocksForAutocomplete"
												combo-id="orderExpStockExtAlternativeStock" req="req" domain="true"
												combo-source-link="stockRsServiceRest/getForAutoCompleteStockDomain"
												combo-name="name" combo-value="stockId" combo-code="code"
												combo-search="vm.commonSearch" combo-grid="vm.gridCommon"
												model-id="vm.exportOrder.ieStockId"
												model-name="vm.exportOrder.ieStockName"
												ng-model="vm.exportOrder.ieStockName"> </auto-search>

										</div>

										<div class="form-group col-md-6" ng-show="vm.showExtForGift" disable-all="!vm.showExtForGift">
											<label class="col-md-4 control-label req" translate>Đối
												tác</label>
											<div class="col-md-8">
												<input class=" form-control width100" type="text"
													id="extForGiftpartnerExtForGift" kendo-auto-complete
													k-options="vm.extForPartnerCodeOptions" ng-blur="vm.changeDataAuto('extForGiftpartner')"
													ng-model="vm.exportOrder.partnerName" name="extForGift"
													 required
													data-required-msg="Đối tác không để trống" /> <span
													 data-for='extForGift' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelInput('partner')"></i>
											</div>
											<script type="text/javascript">
												$("#extForGift")
														.change(
																function() {
																	$(
																			"#extForGift")
																			.val(
																					$(
																							"#extForGift")
																							.val()
																							.trim());
																});
											</script>
										</div>
										<div class="form-group col-md-6" ng-show="vm.showExtForBorrow" disable-all="!vm.showExtForBorrow">
											<label class="col-md-4 control-label req" translate>Đối
												tác</label>
											<div class="col-md-8">
												<input class=" form-control width100" type="text"
													id="extForGiftpartnerExtForBorrow" kendo-auto-complete name="extForBorrow"
													k-options="vm.extForPartnerCodeOptions" ng-blur="vm.changeDataAuto('extForGiftpartner')"
													ng-model="vm.exportOrder.partnerName" required
													data-required-msg="Đối tác không để trống" /> <span
												 data-for='extForBorrow' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelInput('partner')"></i>
											</div>

											<script type="text/javascript">
												$("#extForBorrow")
														.change(
																function() {
																	$(
																			"#extForBorrow")
																			.val(
																					$(
																							"#extForBorrow")
																							.val()
																							.trim());
																});
											</script>
										</div>
										<div class="form-group col-md-6" ng-show="vm.showExtForPay" disable-all="!vm.showExtForPay">
											<label class="col-md-4 control-label req" translate>Đối
												tác</label>
											<div class="col-md-8">
												<input class=" form-control width100" type="text"
													id="extForGiftpartnerExtForPay" kendo-auto-complete ng-blur="vm.changeDataAuto('extForGiftpartner')"
													k-options="vm.extForPartnerCodeOptions" name="extForPay"
													ng-model="vm.exportOrder.partnerName" required
													data-required-msg="Đối tác không để trống" /> <span
													data-for='extForPay' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelInput('partner')"></i>
											</div>

											<script type="text/javascript">
												$("#extForPay")
														.change(
																function() {
																	$(
																			"#extForPay")
																			.val(
																					$(
																							"#extForPay")
																							.val()
																							.trim());
																});
											</script>
										</div>
										<div class="form-group col-md-6" ng-show="vm.showExtForSale" disable-all="!vm.showExtForSale">
											<label class="col-md-4 control-label req" translate>Đơn
												vị nhận</label>
											<div class="col-md-8">
												<div class="input-icon right ">
													<i class="fa fa-search directive"
														ng-click="vm.openDepartmentTo('depOpenToCP')"></i>
												</div>
												<input 
													kendo-auto-complete k-options="vm.deprtOptions1" 
													class=" form-control width100" type="text"
													name="extForSale" id = "exportCopyDeptExtForSale" ng-model="vm.exportOrder.deptReceiveName"
													required ng-blur="vm.changeDataAuto('exportCopyDept')"
													data-required-msg="Tên đơn vị nhận không để trống" /> <span
													data-for='extForSale' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelDeptReceive()"></i>
											</div>

											<!-- <script>
												function reset_msg3() {
													document
															.getElementById('msg3').innerHTML = '';
												}
											</script> -->
											<script type="text/javascript">
												$("#extForSale")
														.change(
																function() {
																	$(
																			"#extForSale")
																			.val(
																					$(
																							"#extForSale")
																							.val()
																							.trim());
																});
											</script>
										</div>

										<div class="form-group col-md-6"
											ng-show="vm.showExtForProject" disable-all="!vm.showExtForProject">
											<label class="col-md-4 control-label req" translate>Mã
												đề tài/dự án</label>
											<div class="col-md-8">
												<input class=" form-control width100" type="text"
													id="extForProjectExtForProject" kendo-auto-complete name ="extForProject"
													k-options="vm.extForProjCodeOptions" ng-blur="vm.changeDataAuto('extForProject')"
													ng-model="vm.exportOrder.projectCode" required
													data-required-msg="Tên mã đề tài/dự án không để trống" />
													<span
													data-for='extForProject' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelInput('proj')"></i>
											</div>
											<script type="text/javascript">
												$("#extForProject")
														.change(
																function() {
																	$(
																			"#extForProject")
																			.val(
																					$(
																							"#extForProject")
																							.val()
																							.trim());
																});
											</script>
										</div>

										<div class="form-group col-md-6" ng-show="vm.showExtForSell" disable-all="!vm.showExtForSell">
											<label class="col-md-4 control-label req" translate>Đơn
												vị nhận</label>
											<div class="col-md-8">
												<div class="input-icon right ">
													<i class="fa fa-search directive"
														ng-click="vm.openDepartmentTo('depOpenToCP')"></i>
												</div>
												<input 
													kendo-auto-complete k-options="vm.deprtOptions1" 
													class=" form-control width100" type="text" id = "exportCopyDeptExtForSell"
													name="extForSell" ng-model="vm.exportOrder.deptReceiveName"
													required ng-blur="vm.changeDataAuto('exportCopyDept')"
													data-required-msg="Tên đơn vị nhận không để trống" /> <span
													 data-for='extForSell' class='k-invalid-msg'></span>
											</div>

											<div class="One_icon">
												<i class="fa fa-times" aria-hidden="true"
													ng-click="vm.cancelDeptReceive()"></i>
											</div>
											<!-- <script>
												function reset_msg4() {
													document
															.getElementById('msg4').innerHTML = '';
												}
											</script> -->
											<script type="text/javascript">
												$("#extForSell")
														.change(
																function() {
																	$(
																			"#extForSell")
																			.val(
																					$(
																							"#extForSell")
																							.val()
																							.trim());
																});
											</script>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			
		</div>
		<div class="portlet light" align="right">
			<button type="button" id="nextStep"
					class="btn btn-qlk   padding-search-right btn pull-right  nextQLK"
					ng-click="vm.nextStep()" translate>Tiếp</button>
				<button type="button"
					class="btn btn-qlk padding-search-right margin_right10 closeQLK btn pull-right"
					ng-click="vm.cancel()" translate>Hủy bỏ</button>
				
			</div>
	</div>
	
	<div ng-show="!vm.showStepOne" class="portlet light bordered ">
			<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase"
					ng-bind="vm.exportOrder.title" translate></span>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#creExtReMa2"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</div>
		</div>
	<!-- 	<div id="flowBoxes" class="padding20">
		        <div class="right left"><p class="width-80">1.Nhập thông tin chung</p></div>
		        <div class="left right active"><p class="width-80">2.Nhập thông tin hàng hóa</p></div>
		</div> -->
		<div id="flowBoxes" class="padding20">
			<div class="Left right  " id="creExtReqBCOne"
				ng-click="vm.prevStep()">
				<p class="declineQLK postion-icon" id="creExtReqBCIconThree"></p>
				<p class="width-80 ">1.Nhập thông tin chung</p>
			</div>
			<div class="Left right active" id="creExtReqBCTwo" ng-click="vm.nextStep()">
				<p class="declineQLK postion-icon" id="creExtReqBCIconFour"></p>
				<p class="width-80">2.Nhập thông tin hàng hóa</p>
			</div>
		</div>
		<form id="creExtReMa2" class="form-horizontal row" role="form">
			<div class="form-body">
				<div class="row border-popup-management">
					<!-- <div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold lowercase"
								translate>Import bằng file excel</span>
						</div>
					</div>
					<div class="clearfix">
						<div class="form-group col-md-6">
							<label class="col-md-4 control-label" translate>File
								import</label>
							<div class="col-md-6">
								<input class=" form-control width100" type="file" id="file"
									ng-disabled="vm.disableImport" />
							</div>
							<div class="col-md-2">
								<button type="button" ng-click="vm.submit()"
									 translate>Tải lên</button>
							</div>
						</div>
						<div class="form-group col-md-6" align="right">
							<a href="javascript:void(0);"
									ng-click="vm.downloadImportTemplate()">Tải file biểu
								mẫu</a>
						</div>
					</div>

				</div> -->
<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Import bằng file excel</span>
						</div>
					</div>
					<div class="padding-width18">
							<div class="clearfix border-gray">
								<div class="form-group clearfix ex10">
									<div class="form-group col-md-8">
										<file-input list-file-type="xls,xlsx" model="caller.dataList"
											size="100000" caller="caller" input-id="file"
											model-label="File import"
											msg="Không được để trống file"></file-input>
										<input class="col-md-2" ng-click="vm.submit()"
											type="submit" value="Tải lên" style="height:20px;">
									
									</div>
									<div class="form-group col-md-4" align="right">
										<a id="templateLink" href="javascript:void(0);"
									ng-click="vm.downloadImportTemplate()">Tải file biểu mẫu</a>
									</div>
								</div>
							<div class="form-group col-md-4" align="right" style="margin-left: 0.5px;">
								<span style="color: gray;">Dung lượng &lt;= 100MB, định dạng
									xls,xlsx</span>
							</div>
							</div>
						</div>	
			</div>

				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Danh
								sách hàng hóa của yêu cầu</span>
						</div>

						<div class="col-md-3 position-relative  pull-right">
							<label class="col-md-3 control-label" translate>hoặc</label> <a
								href="javascript:void(0);" ng-click="vm.showPatternGoods()"><label
								class="col-md-7 control-label" translate
								style="text-decoration: underline;">chọn biểu mẫu</label></a>
						</div>
						<div class="col-md-4 position-relative pull-right">
							<input ng-model="vm.goods.keySearch" id="goods"
								class="form-control width100"
								placeholder="Nhập mã hàng, tên hàng bổ sung" />

						</div>
					</div>
					<div ng-show="vm.editTableShow" id="creExReqMaGrid"
						kendo-grid="vm.creExReqMaGrid" k-editable="true"
						k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"
						k-options="vm.gridOptions"></div>

					<div ng-show="vm.fixedTableShow" id="goodsListGrid3"
						kendo-grid="vm.goodsListGrid3" k-editable="true"
						k-options="vm.goodsListGrid3Options"></div>
				</div>
				</div>
			
				
			
			</div>
		</form>
		
		
		<div class="portlet light">
			<button type="button"
				class="btn btn-qlk padding-search-right backQLK btn pull-righ"
				ng-click="vm.prevStep()" translate>Trước</button>
			<button type="button"
				class="btn btn-qlk padding-search-right btn pull-right nextQLK"
				ng-click="vm.saveExportReg()" translate>Ghi lại</button>
			<button type="button"
				class="btn btn-qlk padding-search-right margin_right10 closeQLK btn pull-right"
				ng-click="vm.cancel()" translate>Hủy
				bỏ</button>
		</div>
	</div>
</div>
<script type="text/javascript">
                        document.onkeydown= keyDown;
                         function keyDown(e){
                    		switch(e.keyCode) {
                    			case 27:
                    				$("#cancel").click();
                    				break;
                    			case 13:
                    				$("#nextStep").click();
                    				break;
                    		}
                    	} 
</script> 
