<div>
       		<div class="btn-group margin-left-button" >
				<button type="button" class="btn btn-default padding-button box-shadow border-radius-left" uib-tooltip="Thêm mới" ng-click="vm.boxung()" ng-disabled="vm.disabledButtom">
					<div class="action-button add"   translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
				<button type="button" class="btn btn-default padding-button box-shadow" ng-click="vm.save()" uib-tooltip="Save"  ng-disabled="vm.disabledButtom">
					<div class="action-button save"   translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
				<button type="button" class="btn btn-default padding-button border-radius-right box-shadow" uib-tooltip="Xóa" ng-click="vm.multiDelete()"  ng-disabled="vm.disabledButtom">
					<div class="action-button del"   translate>&nbsp;&nbsp;&nbsp;&nbsp;</div>
				</button>
			</div>
</div> 