<form class="form-horizontal row" role="form" name="shipmentGoods"
	id="shipmentGoods" kendo-validator="validator"
	k-options="validatorOptions">
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Thông
					tin lô hàng</span>
			</div>
		</div>
		<p></p>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" translate>Mã lô hàng</label>
				<div class="col-md-8">
					<input class=" form-control width100" type="text" readonly="readonly" id="code" name="code"
						ng-model="data.code" />
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" translate>Tổng nguyên
					giá lô hàng</label>
				<div class="col-md-8">
					<input class=" form-control width100" type="text" req
						ng-model="data.totalOriginMoney" />
				</div>
			</div>
		</div>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Import
					bằng file excel</span>
			</div>
		</div>
		<p></p>
		<div class="clearfix">
			<div class="form-group col-md-8">
				<label class="col-md-2 control-label" translate>File Import</label>
				<div class="col-md-6">
					<input class=" form-control width100" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
						ng-model="vm.reasonSearch.keySearch" />
				</div>

				<div class="col-md-4">
					<button type="button"
						class="btn green btn-outline padding-search-right"
						ng-click="vm.UpFile()" translate>Tải file lên</button>
				</div>
			</div>

			<div class="form-group col-md-4">			
				<a href="http://localhost:8084/ims-web/qlk/SampleFile/DemoShipmentGoods.pdf" target="_blank">Tải
						file biểu mẫu</a>
			</div><BR>		
		</div>
		<div class="clearfix">
			<div class="form-group col-md-8">
				<label class="col-md-2 control-label" translate></label>
				<div class="col-md-6">
					<label class=" control-label" translate>Dung lượng <= 100mb, định dang xls, xlsx</label>
				</div>
				<div class="col-md-4">
				</div>
			</div>		
		</div>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Danh
					sách hàng hóa của lô hàng</span>
			</div>
		</div>
		<div id="shipmentGoodsDetailGrid"
			kendo-grid="caller.shipmentGoodsDetailGrid"
			k-options="caller.gridGoodsDetailOptions"
			k-on-change="vm.onGridChange(kendoEvent, { selected: selected }, data)"></div>
	</div>
	<hr>
	<div class="clearfix">
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button type="button"
				class="btn red btn-outline padding-search-right ng-scope"
				ng-click="cancel()" translate>Hủy bỏ</button>
			<button type="button"
				class="btn blue btn-outline padding-search-right ng-scope" ng-click="save()"
				translate>Ghi lại</button>
		</div>
	</div>
</form>