<div class="portlet light bordered" ng-keyup="vm.keyPress(e)">
	<div class="portlet-title">
		<div class="caption">
			 <span
				class="caption-subject bold lowercase" translate>Tìm kiếm</span>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal">
		
	<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label">Số hợp đồng</label>
				<div class="col-md-8">
					<input class="form-control" id="contractCode"
						ng-model="vm.criteria.contractCode" 
						/>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label">Dự án</label>
				<div class="col-md-8">
				<div class="input-icon right">
						<i class="fa fa-search" ng-click="vm.showProjectNameForm()"></i>
					<input class="form-control" name="investProjectName" id="investProjectName"
						ng-model="vm.criteria.investProjectName">
				</div>
				</div>
			</div>
		</div>
			
          <div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label">Đối tác</label>
				<div class="col-md-8">
					<div class="input-icon right">
						<i class="fa fa-search" ng-click="vm.showPartnerNameForm()"></i> <input
							kendo-auto-complete k-options="vm.PartnerNameOptions"
							class="form-control width100" name="partnerName" id="partnerName"
							ng-model="vm.criteria.partnerName" 
							 />
					</div>
				</div>
				
				
				
				
				
					
				
				
				
				
				
				
			</div>
			<div class="form-group col-md-6">
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label">Mã công trình</label>
				<div class="col-md-8">
					<input class="form-control" name="constrtCode" id="constrtCode"
						ng-model="vm.criteria.constrtCode">
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label ">Tên công trình</label>
				<div class="col-md-8">
						</i> <input
						 
							class="form-control width100" name="constrtName" id="constrtName"
							ng-model="vm.criteria.constrtName" required>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label">Loại Công trình</label>
				<div class="col-md-8">
					<select kendo-drop-down-list class="form-control"
						style="width: 100%" name="typeConstruction"
						id="typeConstruction"
						ng-model="vm.criteria.typeConstruction" value="0">
						<option value="0" selected>Tất cả</option>
						<option value="1">BTS</option>
						<option value="1">GPON</option>
						<option value="1">Truyền dẫn ngầm</option>
						<option value="1">Truyền dẫn treo</option>
					</select>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label">Tỉnh thành</label>
				<div class="col-md-8">
					<select kendo-drop-down-list class="form-control"
						style="width: 100%" name="implementForm"
						id="implementForm"
						ng-model="vm.criteria.implementForm" value="0">
						<option value="0" selected>Tất cả</option>
						<option value="1">Hà Nội</option>
						<option value="1">Hồ Chí Minh</option>
						<option value="1">Hải Phòng</option>
						<option value="1">Nghệ An</option>
					</select>
				</div>
			</div>

			
			<div class="clearfix form-actions">
				<div class="row pull-right">
					<div class="col-md-12">
						<button type="button" class="btn green" translate ng-click="vm.doSearch()">Tìm kiếm</button>
						<button type="button" class="btn default" translate ng-click="vm.resetSearch()">Làm lại</button>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>