<form class="form-horizontal row " role="form" name="stock" id="stock"
	kendo-validator="validator" k-options="validatorOptions">
	<div class="form-body padding10">
		<div class="clearfix">
			<div class="row">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label req" translate="">Mã
						kho</label>
					<div class="col-md-8">
						<input class="form-control" name="code" id="code" maxlength="10"
							data-ng-model="data.code" required
							data-required-msg="Mã kho không được để trống" /> <span
							data-for='code' class='k-invalid-msg'></span>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label req" translate>Tên kho</label>
					<div class="col-md-8">
						<input class="form-control" name="name" id="name" maxlength="200"
							ng-model="data.name" required
							data-required-msg="Tên kho không được để trống" /> <span
							data-for='name' class='k-invalid-msg'></span>
					</div>
				</div>
			</div>
			
		</div>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" translate>Đơn vị quản
					lý</label>
				<div class="col-md-8">
					<div class="input-icon right ">
						<i class="fa fa-search directive" ng-click="caller.openDepartment()"
							style="cursor: pointer;"></i> <input
							class=" form-control width100" type="text"
							ng-model="caller.stock.departmentName" maxlength="200"
							placeholder="Nhập mã đơn vị hoặc tên đơn vị" />
					</div>
				</div>
				<div class="One_icon">
					<i class="fa fa-times" aria-hidden="true" ng-click="caller.cancelDept()"></i>
				</div>

			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label req" translate>Loại kho</label>
				<div class="col-md-8">
					<select kendo-drop-down-list class="form-control" id="type"
						style="width: 100%" name="type" ng-model="data.type"
						k-data-source="caller.dataAppParamType "
						k-data-value-field="'code'" k-data-text-field="'name'" required
						data-required-msg="Loại kho không được để trống">
						<option value="">--Chọn--</option>
					</select> <span data-for='type' class='k-invalid-msg'></span>
				</div>

			</div>
		</div>
		<div class="clearfix">
			<auto-search model-label="Kho cha" caller="caller"
				template-url="views/popup/gridView.html"
				header-template="caller.headerTemplate"
				template-auto="caller.templateStock" page="1" page-size="20"
				popup-id="ar_deposit_browser_adOrgId" popup-type="gridplus"
				popup-source-link="stockRsServiceRest/doSearchActiveStock"
				combo-id="stockParent"
				combo-source-link="stockRsServiceRest/getForAutoCompleteStock"
				combo-name="name" combo-value="stockId" combo-code="name"
				combo-search="caller.commonSearch" combo-grid="caller.gridCommon"
				model-id="data.parentId"
				ng-model="data.parentId"
				model-name="data.stockName"> </auto-search>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label req" translate>Mức phân
					cấp</label>
				<div class="col-md-8">
					<select kendo-drop-down-list class="form-control" id="level"
						style="width: 100%" name="level" ng-model="data.levelST"
						k-data-source="caller.dataAppParamLevel "
						k-data-value-field="'code'" k-data-text-field="'name'" required
						data-required-msg="Mức phân cấp không được để trống">
						<option value="">--Chọn--</option>
					</select> <span data-for='level' class='k-invalid-msg'></span>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<div class="form-group col-md-12">
					<label class="col-md-2 control-label" translate>Ghi chú</label>
					<div class="col-md-10">
						<div class="input-icon right">
							<textarea class="form-control width100" name="description"
								id="description" type="text" ng-model="data.description"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix form-actions margin-top">
			<div class="row">
				<div class="col-md-12 text-right">
					<button type="button" class="btn green btn-outline padding-search"
						id="cancel" ng-click="cancel()" translate>Hủy bỏ</button>
					<button type="button"
						class="btn green btn-outline padding-search-right"
						ng-click="save()" translate>Ghi lại</button>
				</div>
			</div>
		</div>
	</div>
</form>
<br />
