<div class="portlet light bordered" ng-keydown="vm.keydown(popupId)">
	<div class="portlet-title">
	<div class="caption">
		<span class="caption-subject bold lowercase" translate>Tìm kiếm</span>
	</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal">
			<div class="clearfix">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Số hợp đồng</label>
					<div class="col-md-8">
						<input class="form-control border-radius-all" id="contractCode" ng-model="vm.criteria.contractCode" ng-enter="vm.doSearch()"/>				
					</div>
				</div>
				<Search-Grid-Popup
					searchtype="ProjInvestProject" 
					model-label="Dự án" 
					caller="vm" popup-id="pa_ProjInvestProject_userId" 
					popup-type="gridplus" 
					template = "views/popup/gridViewProject.html"
					popup-source-link="ProjInvestProjectRsService/projInvestProject/doSearch"
					combo-id="pa_ProjInvestProject_userId" 
					combo-source-link="ProjInvestProjectRsService/projInvestProject/doSearch" 
					combo-name="name" 
					combo-value="id"  
					combo-grid="vm.gridCustomProject"
					model-id="vm.criteria.projectId" 
					model-name="vm.criteria.investProjectName" >
				</Search-Grid-Popup>

				<button class="btn btn-default btn-xs border-radius-all" style="margin-left: -10px;margin-top: 3px;" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="vm.removeProject()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>

			<div class="clearfix">
				<Search-Grid-Popup
					class="border-radius-all"
					searchtype="partnerHr" 
					model-label="Đối tác" 
					caller="vm" popup-id="pa_partnerHr_userId" 
					popup-type="gridplus" 
					template = "views/popup/gridViewPartner.html"
					popup-source-link="catPartnersServiceRest/catPartners/doSearch"
					combo-id="pa_partnerHr_userId" 
					combo-source-link="catPartnersServiceRest/catPartners/doSearch" 
					combo-name="partnerName" 
					combo-value="partnerId" 
					combo-grid="vm.gridCustom"
					model-id="vm.criteria.partnerId" 
					model-name="vm.criteria.partnerName" >
				</Search-Grid-Popup>
				<button class="btn btn-default border-radius-all btn-xs" style="margin-left: -10px;margin-top: 3px;" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="vm.removePartner()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
			<div class="clearfix">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">Mã công trình</label>
					<div class="col-md-8">
						<input class="form-control border-radius-all" name="constrtCode" id="constrtCode" ng-model="vm.criteria.constrtCode">
						</div>
					</div>
					<div class="form-group col-md-6" style="margin-top: -15px;">
						<label class="col-md-4 control-label ">Tên công trình</label>
						<div class="col-md-8">
						<input class="form-control border-radius-all width100" name="constrtName" id="constrtName" ng-model="vm.criteria.constrtName">
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="form-group col-md-6">
						<label class="col-md-4 control-label">Loại Công trình</label>
						<div class="col-md-8">
							<select class="form-control border-radius-all" id="constrType" style="width: 100%;border-radius:5px !important" name="constrType"
								kendo-drop-down-list
								k-data-text-field="'constrTypeName'"
								k-data-value-field="'constrTypeId'"
								k-data-source="vm.constrTypes"
								k-value-primitive="true" 
								ng-model="vm.criteria.constrType">
							</select>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-md-4 control-label">Tỉnh thành</label>
						<div class="col-md-8">
							<select class="form-control border-radius-all" id="provinceId" style="width: 100%;" name="provinceId"
								kendo-drop-down-list
								k-data-text-field="'provinceName'"
								k-data-value-field="'provinceId'"
								k-data-source="vm.provinces"
								k-value-primitive="true" 
								ng-model="vm.criteria.provinceId">
								
							</select>
							
						</div>
					</div>
					<div class="clearfix form-actions">
						<div class="row">
							<div class="col-md-12"  style ="text-align: center;">

								<button type="button" class="btn green border-radius-all" translate ng-click="vm.doSearch()">Tìm kiếm</button>
								<button type="button" class="btn default border-radius-all" translate ng-click="vm.resetSearch()">Làm lại</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>