
	<form class="form-horizontal row" role="form" >
	<!-- BEGIN PORTLET-->
		<div class="form-body">
			<div class="portlet">
				<div class="margin-top">
					<div class="caption">
						<span class="caption-subject bold lowercase" translate>Thông
							tin phiếu xuất kho</span>
					</div>
				</div>
				<div class="padding-width18">
						<div class="border-gray">
							<div class="clearfix">
								<div class="form-group col-md-6">
									<label class="col-md-4 control-label" translate>Mã yêu cầu</label>
									<div class="col-md-8">
										<label class="control-label"
											ng-bind="caller.stockTrans.orderCode"></label>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="col-md-4 control-label" translate>Đơn vị tạo yêu
										cầu</label>
									<div class="col-md-8">
										<label class="control-label"
											ng-bind="caller.stockTrans.createdDeptName"></label>
									</div>
								</div>
							</div>
							<div class="clearfix">
								<div class="form-group col-md-6">
									<label class="col-md-4 control-label" translate>Mã phiếu</label>
									<div class="col-md-8">
										<input class=" form-control width100" type="text"
											ng-model="caller.stockTrans.code" readonly />
									</div>
								</div>
								<!-- <auto-search model-label="Người nhận hàng" caller="caller"
									template-url="views/popup/gridViewCreateUser.html" focus-e="true"
									header-template="caller.userHeaderTemplate" req="req"
									template-auto="caller.userTemplate" page="1" page-size="20"
									popup-id="ar_deposit_browser_adOrgId39" popup-type="gridplusUser"
									popup-source-link="sysUserServiceRest/user/sysAllUserswms"
									combo-id="stockTransEditReceiver"
									combo-source-link="sysUserServiceRest/sysUserwms/getForAutoComplete"
									combo-name="fullName" combo-value="sysUserId"
									combo-code="employeeCode" combo-search="caller.commonSearch"
									combo-grid="caller.gridCreator"
									model-id="caller.stockTrans.receiverId"
									model-name="caller.stockTrans.receiverName">
								</auto-search> -->
								<div class="form-group col-md-6">
									<label class="col-md-4 control-label" translate>Người nhận hàng</label>
									<div class="col-md-8">
										<input class=" form-control width100" type="text"
											ng-model="caller.stockTrans.receiverName" readonly />
									</div>
								</div>
							</div>
							<div class="clearfix">
								<div class="form-group col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label" translate>Ghi chú</label>
										<div class="col-md-10">
										<textarea class="form-control width100" name="description" id="description"
											maxlength="500" autofocus
											ng-model="data.description"></textarea>
											</div>
								</div>		
								</div>	
							</div>
						</div>
				</div>
			</div>
			<div class="portlet " disable-all="caller.disbledSerial">
					<div class="margin-top">
						<div class="caption">
							<span class="caption-subject bold lowercase" translate>Danh sách hàng hóa</span>
						</div>
					</div>
					<div class="padding-width18">
							<div class="clearfix border-gray">
								<div class="clearfix ex10">
									<div class="form-group col-md-8">
										<file-input list-file-type="xls,xlsx" model="caller.dataList"
											size="100000" caller="caller" input-id="fileUpdateImport"
											model-label="File import"
											msg="Không được để trống file"></file-input>
										<input class="col-md-2" ng-click="caller.submitUpdate()"
											type="submit" value="Tải lên">
									
									</div>
									<div class="form-group col-md-4" align="right">
										<a id="templateLink" href="javascript:void(0);"
									ng-click="caller.getExcelTemplate('XK_TaoPhieuXuat')">Tải file biểu mẫu</a>
									</div>
								</div>
								<div class="form-group col-md-4" align="right" style="margin-left: 34px;">
								<span style="color: gray;">Dung lượng &lt;= 100MB, định dạng
									xls,xlsx</span>
							</div>
							</div>
						</div>	
			</div>
		
			<div class="portlet">
				<div class="padding-width18">
							<div class="border-gray">
											<div id="stockTranUpdateGrid"
								kendo-grid="caller.stockTranUpdateGrid" k-editable="{{caller.stockTrans.countSerial}} === 0"
								k-options="caller.stockTranUpdateGridOptions"></div>
							</div>
				</div>			
			</div>
		</div>
	<div class="portlet light pull-right">
	<button type="button"
			class="btn btn-qlk padding-search-right margin_right10 closeQLK "
			ng-click="caller.cancel()" translate>Hủy bỏ</button>
		<button type="button"
			class="btn btn-qlk padding-search-right saveQLK "
			ng-click="caller.update()" translate>Ghi lại</button>
		
	</div>
</form>
