<form class="form-horizontal row" role="form" name="commonDelete"
	id="commonDelete" kendo-validator="validator"
	k-options="validatorOptions">
	<div class="form-body">
		<p></p>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" translate>Mã phiếu</label>
				<div class="col-md-8">
					<input class=" form-control width100" type="text" readonly
						ng-model="data.code" />
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label req" translate>Lý do
					hủy</label>
				<div class="col-md-8">
					<select kendo-drop-down-list class="form-control"
						id="cancelReasonCode" style="width: 100%" name="cancelReasonName"
						ng-model="data.cancelReasonName" k-option-label="'---Chọn---'"
						k-data-source="caller.dataReasonDelete"
						k-data-value-field="'name'" k-data-text-field="'name'" required
						data-required-msg="Lý do hủy không được để trống">
													
					</select> <span data-for='cancelReasonName' class='k-invalid-msg'></span>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" traslate>Người hủy</label>
				<div class="col-md-8">
					<input class="form-control" name="cancelByName" id="cancelByName"
						ng-model="data.cancelByName" readonly>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" translate>Ngày hủy</label>
				<div class="col-md-8">
					<input kendo-date-picker class="form-control width100"
						name="cancelDate" ng-model="data.cancelDate" readonly="readonly"
						k-format="'dd/MM/yyyy'" id="cancelDate" />
				</div>
			</div>
			<script>
				$(function() {
					var transDate = $("#cancelDate");
					transDate.kendoMaskedTextBox({
						mask : "00/00/0000"
					});
					transDate.closest(".k-datepicker").add(transDate)
							.removeClass("k-textbox");
				});
			</script>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
											<div class="form-group col-md-12">
												<label class="col-md-2 control-label" translate>Ghi chú</label>
												<div class="col-md-10">
													<textarea class="form-control" name="description" id="description"
													maxlength="500"
													ng-model="data.cancelDescription"></textarea>
										</div>
									</div>
			</div>
		</div>
		<div class="clearfix form-actions margin-top">
			<div class="row">
				<div class="col-md-11" align="right">
					<button type="button"
						class="btn btn-qlk padding-search-right margin_right10 closeQLK "
						 ng-click="cancel()" translate>Hủy bỏ</button>
					<button type="button" id="removeExportNote"
						class="btn btn-qlk padding-search-right saveQLK "
						ng-click="remove()" translate>Ghi lại</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			  document.onkeydown= keyDown;
              function keyDown(e){
         		switch(e.keyCode) {
         			case 27:
         				$("#cancel").click();
         				break;
         			case 13:
         				if (e.keyCode == 13&& !$('#removeExportNote:focus').length&& !$('#cancel:focus').length&&!$('#confirmPopup_btnConfirm:focus').length&&!$('#confirmPopup_btnCancel:focus').length) {
         				$("#removeExportNote").click();
         				break;
						}
         		}
         	} 
	</script> 
	</div>
</form>
<br />
