<style>
.formater {
	margin-left: 23%;
}
</style>
<form class="form-horizontal row" role="form" name="stock2" id="stock2"
	kendo-validator="validator" k-options="validatorOptions">
		<div class="portlet-title" style="margin-top: 10px;">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>I. Bên giao</span>
			</div>
		</div>
		<p></p>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label req" translate>Tên</label>
				<div class="col-md-9">
					<input class="form-control" name="onename" id="onename" ng-blur="focusOut()" maxlength="400" ng-model="caller.dataconfig.deliveryOneName" 
					required data-required-msg="Tên không được để trống"   />
					<span data-for='onename' class='k-invalid-msg'></span>
				</div>
			</div>
			
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label req" translate>Địa chỉ</label>
				<div class="col-md-9">
					<input class="form-control" name="oneaddress" id="oneaddress" ng-blur="focusOut()" maxlength="400" ng-model="caller.dataconfig.deliveryOneAddress" 
					required data-required-msg="Địa chỉ không được để trống"   />
					<span data-for='oneaddress' class='k-invalid-msg'></span>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label req" translate>Thông tin đại diện</label>
				<div class="col-md-9">
					<input class="form-control" name="onerepresent" id="onerepresent" ng-blur="focusOut()" maxlength="400" ng-model="caller.dataconfig.deliveryOneRepresent" 
					required data-required-msg="Thông tin đại diện không được để trống"   />
					<span data-for='onerepresent' class='k-invalid-msg'></span>
				</div>
			</div>
		</div>
		<div class="portlet-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>II. Bên giao (số 2)</span>
			</div>
		</div>
		<p></p>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label" translate>Tên</label>
				<div class="col-md-9">
					<input class="form-control" name="twoname" id="twoname" maxlength="400" ng-model="caller.dataconfig.deliveryTwoName" />
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label" translate>Địa chỉ</label>
				<div class="col-md-9">
					<input class="form-control" name="twoaddress" id="twoaddress" maxlength="400" ng-model="caller.dataconfig.deliveryTwoAddress" />
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label" translate>Thông tin đại diện</label>
				<div class="col-md-9">
					<input class="form-control" name="tworepresent" id="tworepresent" maxlength="400" ng-model="caller.dataconfig.deliveryTwoRepresent" />
				</div>
				
			</div>
		</div>

		<div class="portlet-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>III. Bên vận tải</span>
			</div>
		</div>
		<p></p>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label" translate>Tên</label>
				<div class="col-md-9">
					<input class="form-control" name="tranfername" id="tranfername" maxlength="400" ng-model="caller.dataconfig.tranferName" />
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label" translate>Địa chỉ</label>
				<div class="col-md-9">
					<input class="form-control" name="tranferaddress" id="tranferaddress" maxlength="400" ng-model="caller.dataconfig.tranferAddress" />
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-md-12">
				<label class="col-md-3 control-label" translate>Thông tin đại diện</label>
				<div class="col-md-9">
					<input class="form-control" name="tranferrepresent" id="tranferrepresent" maxlength="400" ng-model="caller.dataconfig.tranferRepresent" />
				</div>
			</div>
		</div>
		
	<div class="clearfix" style="margin-top: 5px;">
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button type="button"
				class="btn btn-qlk padding-search-right closeQLK" id="cancel"
				ng-click="caller.cancel()" translate>Hủy bỏ</button>
			<button type="button"
				class="btn btn-qlk padding-search-right saveQLK" id="saveConfig"
				ng-click="saveConfig()" translate>Ghi lại</button>
		</div>
	</div>
	<script type="text/javascript">
		      $("input").change(function(){
		       $(this).val($.trim($(this).val()));
		      });
			   document.onkeydown= keyDown;
              function keyDown(e){
         		switch(e.keyCode) {
         			case 27:
         				$("#cancel").click();
         				break;
         			case 13:
					if (e.keyCode == 13&& !$('#cancel:focus').length&& !$('#saveConfig:focus').length) {
         				$("#saveConfig").click();
         				break;
						}
         		}
         	} 
	</script>  
</form>