<div id="errList">
<div id="detailErrGrid"
	kendo-grid="caller.detailErrGrid" k-editable="false"
	k-options="caller.errGridOptions" ></div>
	
<div class="portlet light">
				<div class="col-md-12 text-right">
					<button type="button" 
						class="btn btn-qlk padding-search-right closeQLK" id="cancel"
						ng-click="caller.cancel()" translate>Đóng</button>
					<button type="button"  id="exportErrExcelGrid"
						class="btn btn-qlk padding-search-right excelQLK" ng-click="caller.exportErrExcelGrid()"
						translate>Xuất file lỗi</button>
				</div>
			</div>
<script type="text/javascript">
var grid = $("#detailErrGrid").data("kendoGrid");
if(grid){
	grid.dataSource.data();
	grid.refresh();
}

				document.onkeydown= keyDown;
                         function keyDown(e){
                    		switch(e.keyCode) {
                    			case 27:
                    				$("#cancel").click();
                    				break;
                    			case 13:
								if(!$('#cancel:focus').length){
									$("#exportErrExcelGrid").click();
										break;
								}
                    				
                    		}
                    	} 
</script>
</div>
