<style>
	#tinhLuongDayMayGrid > .k-grid-content{
		overflow-y:hidden !important;
	}
	
</style>
<style>
	#tinhLuongDayMayGrid >.k-grid-header {
        padding-right: 0px !important;
}
</style>
<div data-ng-controller="tinhLuongDayMayController as vm">
	<div ng-show="vm.showSearch">
		<p class="text-brecum">{{vm.String}}</p>
		<form class="form-horizontal row" role="form"
			kendo-validator="vm.validator" k-options="vm.validatorOptions">
			<div class="form-body">
				<div class="portlet light bordered">
					<div class="portlet-title background-title">
						<div class="caption">
							<span ng-show="!vm.showAdvancedSearch"
								class="caption-subject bold lowercase" translate>Thông
								tin tìm kiếm</span> <span ng-show="vm.showAdvancedSearch"
								class="caption-subject bold lowercase" translate>Thông
								tin tính lương</span>
						</div>
						<div class="text-right margin-row-title"
							style="margin: 5px 10px;">
							<button class="fa fa-search-plus" aria-hidden="true"
								style="color: #337ab7;border-radius: 4px !important;height: 25px;text-transform: none;background-color: white; border: 1px solid gray;" id="extReqAdvancedSearch"
								ng-hide="vm.showAdvancedSearch" ng-click="vm.advancedSearch()"
								uib-tooltip="Tính lương">Tính lương</button>
							<button class="fa fa-search-minus"
								aria-hidden="true" style="color: #337ab7;border-radius: 4px !important;height: 25px;text-transform: none;background-color: white; border: 1px solid gray;"
								id="extReqAdvancedSearch" ng-hide="!vm.showAdvancedSearch"
								ng-click="vm.advancedSearch()" uib-tooltip="Tìm kiếm">Tìm kiếm</button>
							<!-- <i data-toggle="collapse" data-target="#demoreson"
								class="fa fa-chevron-circle-up" aria-hidden="true"></i> -->
						</div>
					</div>



					<!-- bat dau tim kiem -->
					<div ng-show="!vm.showAdvancedSearch" style="margin-left: -5%;">
						<div id="demoreson" class="collapse in from-search">
							<div class="clearfix position-relative">
								<div class="clearfix">
									<div class="form-group col-md-12">
										<div class="form-group col-md-12">
											<label class="col-md-2 control-label" translate>Tìm
												kiếm nhanh</label>
											<div class="col-md-10">
												<div class="input-icon right">
													<input class=" form-control width100" type="text"
														id="keySearch"
														ng-model="vm.tinhLuongDayMaySearch.keySearch" />
												</div>

											</div>
										</div>
									</div>
								</div>

								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>
											Tháng:</label>
										<div class="col-md-3 ">
											<select style="height: 23px;"
												ng-model="vm.tinhLuongDayMaySearch.exThang">
												<option value="" selected="selected">~~Chọn~~</option>
												<option value="01">1</option>
												<option value="02">2</option>
												<option value="03">3</option>
												<option value="04">4</option>
												<option value="05">5</option>
												<option value="06">6</option>
												<option value="07">7</option>
												<option value="08">8</option>
												<option value="09">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
										<label class="col-md-2 control-label" translate>Năm :</label>
										<div class="col-md-3 position-relative"
											style="text-align: right;">
											<select id="exNamDLduytri" style="height: 23px;"
												name="exNamDLduytri" ng-model="vm.tinhLuongDayMaySearch.exNam">
												<option value="" selected="selected">~~Chọn~~</option>
												<option value="2015">2015</option>
												<option value="2016">2016</option>
												<option value="2017">2017</option>
												<option value="2018">2018</option>
												<option value="2019">2019</option>
												<option value="2020">2020</option>
												<option value="2021">2021</option>
												<option value="2022">2022</option>
												<option value="2023">2023</option>
												<option value="2024">2024</option>
												<option value="2025">2025</option>
												<option value="2026">2026</option>
												<option value="2027">2027</option>
												<option value="2028">2028</option>
												<option value="2029">2029</option>
												<option value="2030">2030</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label" translate>Họ tên
											nhân viên:</label>
										<div class="col-md-8">
											<input class=" form-control width100" type="text"
												k-options="vm.patternOptionsNV" kendo-auto-complete
												name="pxkNhanVienAutoNv"
												ng-model="vm.tinhLuongDayMaySearch.fullName" maxlength="200"
												id="pxkNhanVienAutoNv" />
										</div>
									</div>
								</div>

								<div class="clearfix">
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label " translate>Tên
											tỉnh </label>
										<div class="col-md-8">
											<div class="input-icon right ">
												<!-- <i class="fa fa-search directive"
											ng-click="vm.openDepartment()" style="cursor: pointer;"></i> -->
												<input class=" form-control width100" type="text"
													k-options="vm.patternOptions" kendo-auto-complete
													name="tinhLuongDayMayAutoDm112"
													ng-model="vm.tinhLuongDayMaySearch.tenTinh" maxlength="200"
													id="tinhLuongDayMayAutoDm112" />
											</div>
										</div>
									
									</div>
									<div class="form-group col-md-6">
										<label class="col-md-4 control-label " translate>Tên
											huyện </label>
										<div class="col-md-8" style="heigth: 25px;">
											<input class=" form-control width100" type="text"
												ng-keydown="vm.checkNullTinh()"
												k-options="vm.patternOptions1" kendo-auto-complete
												name="tinhLuongDayMayAutoDm113"
												ng-model="vm.tinhLuongDayMaySearch.huyen" maxlength="200"
												id="tinhLuongDayMayAutoDm113" />
										</div>
										
									</div>



								</div>

							</div>

						</div>
						<div class="clearfix form-actions margin-top">
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="button" id="tinhLuongDayMaySearch"
										ng-click="vm.doSearch()"
										class="btn btn-qlk padding-search-right searchQLK" translate>Tìm
										kiếm</button>
								</div>
							</div>
						</div>
					</div>

					<div ng-show="vm.showAdvancedSearch">
						<div id="demoreson" class="collapse in from-search"style="margin-left: -5%;">
							<div class="clearfix position-relative">
								<div class="clearfix">
									<div class="form-group col-md-12"
										style="padding: 10px 0 0 25%;">
										<div class=" col-md-10">
											<label class="col-md-2 control-label"
												style="text-align: left !important;" translate>Chọn
												tháng:</label>
											<div class="col-md-3">
												<select style="height: 30px;    width: 100%;"
													ng-model="vm.tinhLuongDM.exThang">
													<option value="" selected="selected">~~Chọn~~</option>
													<option value="01">1</option>
													<option value="02">2</option>
													<option value="03">3</option>
													<option value="04">4</option>
													<option value="05">5</option>
													<option value="06">6</option>
													<option value="07">7</option>
													<option value="08">8</option>
													<option value="09">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
												</select>
											</div>
											<div class="form-group col-md-5">
												<label class="col-md-2 control-label"
													tyle="text-align: left !important;" translate>Năm</label>
												<div class="col-md-8 position-relative">
													<select id="exNamDLduytri" style="height: 30px;    width: 100%;"
														name="exNamDLduytri" ng-model="vm.tinhLuongDM.exNam">
														<option value="" selected="selected">~~Chọn~~</option>
														<option value="2015">2015</option>
														<option value="2016">2016</option>
														<option value="2017">2017</option>
														<option value="2018">2018</option>
														<option value="2019">2019</option>
														<option value="2020">2020</option>
														<option value="2021">2021</option>
														<option value="2022">2022</option>
														<option value="2023">2023</option>
														<option value="2024">2024</option>
														<option value="2025">2025</option>
														<option value="2026">2026</option>
														<option value="2027">2027</option>
														<option value="2028">2028</option>
														<option value="2029">2029</option>
														<option value="2030">2030</option>
													</select>
												</div>

											</div>

										</div>

									</div>
								</div>
								<div class="clearfix">
									<div class=" text-center">
										<button type="button" id="tinhLuongDayMayid1" 
											ng-click="vm.luongDayMay()"
											class="btn btn-qlk padding-search-right calculator" translate>Tính
											lương</button>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix form-actions margin-top">
							<div class="row"></div>
						</div>
					</div>



					<!-- end tìm kiếm -->
				</div>
			</div>
		</form>
	</div>
	<div class="portlet light bordered">
		<div class="portlet-title background-title">
			<div class="caption">
				<span class="caption-subject bold lowercase" translate>Kết
					quả tìm kiếm :</span>&nbsp;<label class="control-label bold lowercase"
					id="tinhLuongDayMayGridCount11"></label><label
					class="control-label bold lowercase">&nbsp;bản ghi</span>
			</div>
			<div class="text-right margin-row-title">
				<i data-toggle="collapse" data-target="#tinhLuongDayMay111"
					class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</div>
		</div>
		<div id="tinhLuongDayMay111" class="collapse in ">

			<div ng-show="vm.showDetail" id="sign"></div>
			<div id="tinhLuongDayMayGrid" kendo-grid="vm.tinhLuongDayMayGrid"
				k-editable="false" k-options="vm.gridOptions"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.onkeydown = keyDown;
	function keyDown(e) {
		switch (e.keyCode) {
		case 13:
			$("#tinhLuongDayMayid").click();
			break;
		}
	}
</script>
